<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/bookkeeping/bookkeepingLayout">
<head>
	<script type="text/javascript" th:src="@{#{url.moment.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap-datepicker.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap-datepicker.locale.ko.js}}"></script>
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{#{url.bootstrap-datepicker.css}}" />
	<script type="text/javascript" th:src="@{/js/bookkeeping/entryGroup/model.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/entryGroup/collection.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/asset/model.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/asset/collection.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/entry/model.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/entry/collection.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/entry/view.js}"></script>
</head>
<body>
	<div layout:fragment="content-bookkeeping">
		<br />
		<div id="entryArea"></div>
		
		
		<script type="text/template" id="template-entry-view">
			<td>
				<select class="form-control" name="entryGroup">
					{{#entryGroupList}}
						<option value="{{id}}">{{name}}</option>
					{{/entryGroupList}}
				</select>
			</td>
			<td>
				<select class="form-control" name="debitAsset">
					{{#assetList}}
						<option value="{{id}}" >{{name}}</option>
					{{/assetList}}
				</select>
			</td>
			<td>
				<select class="form-control" name="creditAsset">
					{{#assetList}}
						<option value="{{id}}" >{{name}}</option>
					{{/assetList}}
				</select>
			</td>
			<td contenteditable="true" data-key="amount">{{entry.amount}}</td>
			<td contenteditable="true" data-key="memo">{{entry.memo}}</td>
			<td><input type="text" class="form-control" name="entryDate" value="{{getEntryDate}}" /></td>
			<td>
				<button class="btn btn-default btn-sm" data-menu="updateEntry"><span class="glyphicon glyphicon-edit">수정</span></button>
				<button class="btn btn-default btn-sm" data-menu="deleteEntry"><span class="glyphicon glyphicon-remove">삭제</span></button>
			</td>
		</script>
		<script type="text/template" id="template-entry-list">
			<div class="col-md-7">
			<table class="table">
				<colgroup>
					<col class="col-md-2"></col>
					<col class="col-md-2"></col>
					<col class="col-md-2"></col>
					<col class="col-md-2"></col>
					<col class="col-md-2"></col>
					<col class="col-md-2"></col>
					<col class="col-md-2"></col>
				</colgroup>
				<thead>
					<tr>
						<th>분류</th>
						<th>지출자산</th>
						<th>수입자산</th>
						<th>금액</th>
						<th>메모</th>
						<th>날짜</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
					<tr class="active">
						<td>
							<select class="form-control" name="createEntryGroup">
								{{#entryGroupList}}
									<option value="{{id}}">{{name}}</option>
								{{/entryGroupList}}
							</select>
						</td>
						<td>
							<select class="form-control" name="createDebitAsset">
								{{#assetList}}
									<option value="{{id}}">{{name}}</option>
								{{/assetList}}
							</select>
						</td>
						<td>
							<select class="form-control" name="createCreditAsset">
								{{#assetList}}
									<option value="{{id}}">{{name}}</option>
								{{/assetList}}
							</select>
						</td>
						<td contenteditable="true" data-key-name="createAmount" placeholder="금액을  입력하세요"></td>
						<td contenteditable="true" data-key-name="createMemo" placeholder="내용을 입력하세요"></td>
						<!--<td contenteditable="true" data-key-name="createEntryDate" placeholder="날짜를 입력하세요"></td>-->
						<td><input type="text" class="form-control" name="createEntryDate" /></td>
						<td><button class="btn btn-default btn-sm" data-menu="createEntry"><span class="glyphicon glyphicon-plus">추가</span></button></td>
					</tr>
				</tfoot>
			</table>
			</div>
		</script>
	</div>
</body>
</html>