<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<head>
	<script type="text/javascript" th:src="@{/js/bluesky_data_rest.js}"></script>
	<script type="text/javascript" th:src="@{/js/mustache.js}"></script>
	<script th:src="@{/js/bluesky_bookkeeping_entry.js}"></script>
</head>
<body>
<div layout:fragment="content">

	<div class="page-header">
		<h1>Entry <small th:text="#{entry.menu.list}">list</small></h1>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-lg-1" th:text="#{entry.text.asset.name}">asset.name</th>
				<th class="col-lg-2" th:text="#{entry.text.entryGroup.name}">entryGroup.name</th>
				<th class="col-lg-2" th:text="#{entry.text.amount}">amount</th>
				<th class="col-lg-1" th:text="#{entry.text.date}">date</th>
				<th th:text="#{entry.text.memo}">memo</th>
				<th class="col-lg-1 entry-menu-add"><span class="glyphicon glyphicon-plus"></span> <span th:text="#{entry.menu.add}">add</span></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.isEmpty(entryList)}" class="text-center">
				<td colspan="6" th:text="#{entry.message.empty.content}">entry.message.empty.content</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6" class="text-center">
					<button sec:authorize="isAuthenticated()" class="btn btn-primary entry-menu-add" th:text="#{entry.menu.add}">add</button>
				</td>
			</tr>
		</tfoot>
	</table>
	
	<script type="text/template" id="entry-template">
	<tr>
		<td contenteditable="true">{{asset.name}}</td>
		<td>{{entryGroup.name}}</td>
		<td contenteditable="true">{{amount}}</td>
		<td contenteditable="true">{{date}}</td>
		<td contenteditable="true">{{memo}}</td>
		<td></td>
	</tr>
	</script>
	
	<!-- (s) entry add modal -->
	<div class="modal fade entry-add-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" >&times;</button>
					<h4 class="modal-title">Entry <small th:text="#{entry.menu.add}">add</small></h4>
				</div>
				<div class="modal-body">
	
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="asset.id" class="col-lg-2 control-label" th:text="#{entry.text.asset.name}">asset.name</label>
							<div class="col-lg-10">
								<select class="form-control" id="asset.id">
									<option th:each="asset: ${assetList}" th:value="${asset.id}" th:text="${asset.name}">asset.name</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="entryGroup.id" class="col-lg-2 control-label" th:text="#{entry.text.entryGroup.name}">entryGroup.name</label>
							<div class="col-lg-10">
								<select class="form-control" id="entryGroup.id">
									<option th:each="entryGroup : ${entryGroupList}" th:value="${entryGroup.id}" th:text="${entryGroup.name}">1</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="amount" class="col-lg-2 control-label" th:text="#{entry.text.amount}">amount</label>
							<div class="col-lg-10">
								<input type="number" class="form-control" id="amount" th:placeholder="#{entry.text.amount}"/>
							</div>
						</div>
						<div class="form-group">
							<label for="date" class="col-lg-2 control-label" th:text="#{entry.text.date}">date</label>
							<div class="col-lg-10">
								<input type="date" class="form-control" id="date" th:placeholder="#{entry.text.date}" />
							</div>
						</div>
						<div class="form-group">
							<label for="memo" class="col-lg-2 control-label" th:text="#{entry.text.memo}">memo</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="memo" th:placeholder="#{entry.text.memo}" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-10">
								<div class="checkbox">
									<label> <input type="checkbox" checked="checked" id="transferEntry" th:text="#{entry.text.isTransferEntry}" /> </label>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{close}">close</button>
					<button type="button" class="btn btn-primary entry-add" th:text="#{entry.menu.add}">add</button>
				</div>
			</div>
		</div>
	</div>
	<!-- (e) entry add modal -->
</div>
</body>
</html>