<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/bookkeeping/bookkeepingLayout">
<head>
	<script type="text/javascript" th:src="@{#{url.mustache.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.underscore.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.backbone.js}}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/asset/model.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/asset/collection.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/asset/view.js}"></script>
</head>
<body>
	<div layout:fragment="content-bookkeeping">
		<br />
		<div id="assetArea"></div>
		
		
		<script type="text/template" id="template-asset-view">
			<td contenteditable="true" data-key="name" class="test">{{name}}</td>
			<td>
				<select class="form-control" name="assetType">
					<option th:each="assetType : ${T(net.luversof.bookkeeping.domain.AssetType).values()}" th:value="${assetType}" th:text="#{assetType.text.__${assetType}__}">assetType</option>
				</select>
			</td>
			<td>
				<span class="glyphicon glyphicon-edit">수정</span>
				<span class="glyphicon glyphicon-remove">삭제</span>
			</td>
		</script>
		<script type="text/template" id="template-asset-list">
			<div class="col-md-4">
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-4">이름</th>
						<th class="col-md-3">타입</th>
						<th class="col-md-3">금액</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			자산 추가
			<input type="text" name="addAssetName" />이름
			<select class="form-control" name="addAssetType">
				<option th:each="assetType : ${T(net.luversof.bookkeeping.domain.AssetType).values()}" th:value="${assetType}" th:text="#{assetType.text.__${assetType}__}">assetType</option>
			</select>
			<span class="glyphicon glyphicon-plus addAsset">추가</span>
			</div>
		</script>
	</div>
</body>
</html>