<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/bookkeeping/bookkeepingLayout">
<head>
	<script type="text/javascript" th:src="@{/js/bookkeeping/asset/model.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/asset/collection.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/asset/view.js}"></script>
</head>
<body>
	<div layout:fragment="content-bookkeeping">
		<br />
		<div id="assetArea"></div>
		
		<script type="text/template" id="template-asset-collection-view">
			<div class="col-md-6">
				<table class="table table-hover">
					<colgroup>
						<col class="col-md-3"></col>
						<col class="col-md-4"></col>
						<col class="col-md-2"></col>
						<col class="col-md-3"></col>
					</colgroup>
					<thead>
						<tr>
							<th>타입</th>
							<th>이름</th>
							<th>금액</th>
							<th></th>
						</tr>
						<tr>
							<th>
								<button type="button" class="btn btn-default {{#isSortColumnAssetType}}btn-info{{/isSortColumnAssetType}}" data-menu-sortColumn="assetType" data-menu-sortDirection="{{#isSortColumnAssetType}}{{sortDirection}}{{/isSortColumnAssetType}}">
									타입
									{{#isSortColumnAssetType}}
										<i class="fa fa-sort-{{sortDirection}}" aria-hidden="true"></i>
									{{/isSortColumnAssetType}}
								</button>
							</th>
							<th>
								<button type="button" class="btn btn-default {{#isSortColumnName}}btn-info{{/isSortColumnName}}" data-menu-sortColumn="name" data-menu-sortDirection="{{#isSortColumnName}}{{sortDirection}}{{/isSortColumnName}}">
									이름
									{{#isSortColumnName}}
										<i class="fa fa-sort-{{sortDirection}}" aria-hidden="true"></i>
									{{/isSortColumnName}}
								</button>
							</th>
							<th>
								<button type="button" class="btn btn-default {{#isSortColumnAmount}}btn-info{{/isSortColumnAmount}}" data-menu-sortColumn="amount" data-menu-sortDirection="{{#isSortColumnAmount}}{{sortDirection}}{{/isSortColumnAmount}}">
									금액
									{{#isSortColumnAmount}}
										<i class="fa fa-sort-amount-{{sortDirection}}" aria-hidden="true"></i>
									{{/isSortColumnAmount}}
								</button>
							</th>
							<th></th>
						</tr>
						<tr class="active">
							<td>
								<select class="form-control" name="createAssetType">
									<option th:each="assetType : ${T(net.luversof.bookkeeping.domain.AssetType).values()}" th:value="${assetType}" th:text="#{assetType.text.__${assetType}__}">assetType</option>
								</select>
							</td>
							<td contenteditable="true" data-key-name="createAssetName" placeholder="추가할 자산의 이름을 입력하세요"></td>
							<td></td>
							<td><button class="btn btn-default btn-sm" data-menu="createAsset"><span class="glyphicon glyphicon-plus">추가</span></button></td>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
		</script>
		<script type="text/template" id="template-asset-view">
			<td>
				<select class="form-control" name="assetType">
					<option th:each="assetType : ${T(net.luversof.bookkeeping.domain.AssetType).values()}" th:value="${assetType}" th:text="#{assetType.text.__${assetType}__}">assetType</option>
				</select>
			</td>
			<td contenteditable="true" data-key-name="name">{{name}}</td>
			<td class="text-right">{{amount}}</td>
			<td>
				<button class="btn btn-default btn-sm" data-menu="updateAsset"><span class="glyphicon glyphicon-edit">수정</span></button>
				<button class="btn btn-default btn-sm" data-menu="deleteAsset"><span class="glyphicon glyphicon-remove">삭제</span></button>
			</td>
		</script>
	</div>
</body>
</html>