<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
	<script type="text/javascript" th:src="@{#{url.mustache.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.underscore.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.backbone.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.metisMenu.js}}"></script>
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{#{url.metisMenu.css}}" />
	<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {
		$("#menu").metisMenu();
	});
	$.bookkeepingId = [[${bookkeepingId}]];	// bookkeeping setting에선 사용하지 않는 변수
	</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<ul class="nav nav-pills nav-stacked" id="menu"
						th:with="path = ${#httpServletRequest.servletPath},
							menu = ${#strings.contains(path, '/entry') ? 'entry' : 'bookkeeping'},
							menu = ${#strings.contains(path, '/statistics') ? 'statistics' : menu},
							menu = ${#strings.contains(path, '/asset') ? 'asset' : menu},
							menu = ${#strings.contains(path, '/bookkeeping/setting') ? 'bookkeepingSetting' : menu},
							menu = ${#strings.contains(path, '/asset/setting') ? 'assetSetting' : menu},
							menu = ${#strings.contains(path, '/entryGroup/setting') ? 'entryGroupSetting' : menu},
							isSettingMenu = ${#strings.contains(path, '/setting')}">
						<li th:class="${menu} == 'entry' ? active"><a th:href="@{#{url.bookkeeping.entry(${bookkeepingId})}}"><i class="fa fa-pencil"></i> 가계부 입력</a></li>
						<li th:class="${menu} == 'statistics' ? active"><a th:href="@{#{url.bookkeeping.statistics(${bookkeepingId})}}"><i class="fa fa-bar-chart"></i> 통계 보기</a></li>
						<li th:class="${isSettingMenu} ? active">
							<a href="#"><i class="fa fa-cogs"></i> 설정</a>
							<ul class="nav nav-pills nav-stacked" th:attr="aria-expanded=${isSettingMenu}">
								<li th:class="${menu} == 'bookkeepingSetting' ? active"><a th:href="@{#{url.bookkeeping.setting.bookkeeping}}"><i th:class="${menu} == 'bookkeepingSetting' ? 'fa fa-cog fa-spin' : 'fa fa-cog'"></i>  가계부 관리</a></li>
								<li th:class="${menu} == 'assetSetting' ? active"><a th:href="@{#{url.bookkeeping.setting.asset(${bookkeepingId})}}"><i th:class="${menu} == 'assetSetting' ? 'fa fa-cog fa-spin' : 'fa fa-cog'"></i>  자산 관리</a></li>
								<li th:class="${menu} == 'entryGroupSetting' ? active"><a th:href="@{#{url.bookkeeping.setting.entryGroup(${bookkeepingId})}}"><i th:class="${menu} == 'entryGroupSetting' ? 'fa fa-cog fa-spin' : 'fa fa-cog'"></i>  분류 관리</a></li>
							</ul>
						</li>
  					</ul>
				</div>
				<div class="col-sm-10">
					<div layout:fragment="content-bookkeeping"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>