<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/bookkeeping/bookkeepingLayout">
<head>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var bookkeepingId = [[${bookkeepingId}]];
	var entryTypeInfo = [[${T(net.luversof.bookkeeping.domain.EntryType).values()}]];
	var entryTypeList = [];
	for (i = 0 ; i < entryTypeInfo.length ; i++) {
		entryTypeList.push(entryTypeInfo[i]["$name"]);
	}
	/*]]>*/
	</script>
	<script type="text/javascript" th:src="@{/js/bluesky_bookkeeping_entryGroup.js}"></script>
</head>
<body>
	<div layout:fragment="content-bookkeeping">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">분류 관리 <span class="glyphicon glyphicon-refresh bookkeeping-entryGroup-load"></span></h3>
			</div>
			<div class="panel-body">
				<div class="bookkeeping-entryGroup-list"></div>
			</div>
		</div>
	</div>
</body>
</html>