<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
	<script type="text/javascript" th:src="@{#{url.mustache.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.underscore.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.backbone.js}}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/test.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<br />
		<div class="well">
			asdfsdfasdf	
			
			<div class="page">page area</div>
		</div>
		<div id="bookkeepingArea"></div>
		
		
		<script type="text/template" id="template-bookkeeping-view">
			<td contenteditable="true">{{name}}</td>
			<td>
				<span class="glyphicon glyphicon-edit">수정</span>
				<span class="glyphicon glyphicon-remove">삭제</span>
			</td>
		</script>
		<script type="text/template" id="template-bookkeeping-list">
			<div class="col-md-5">
			<table class="table">
				<thead>
					<tr>
						<th>이름</th><th></th>
					</tr>
				</thead>
				<tbody>
				{{#.}}
					<tr>
					{{> bookkeeping-view}}
					</tr>
				{{/.}}
				</tbody>
			</table>

			<input type="text" name="addBookkeepingName" />이름
			<span class="glyphicon glyphicon-plus addBookkeeping">추가</span>
			</div>
		</script>
	</div>
</body>
</html>