<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
	<script type="text/javascript" th:src="@{#{url.mustache.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.underscore.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.backbone.js}}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/test.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<br />
		<div class="well">
			asdfsdfasdf	
			
			<div class="page">page area</div>
		</div>
		
		<div id="bookkeepingArea"></div>
		
		<script type="text/template" id="item-template">
			test template
			<label>라벨</label>
			
			<input type="text" class="edit" />수정버튼
		</script>
		
		<script type="text/template" id="template-bookkeeping-view">
			<tr>
				<td><label>라벨</label>{{name}}</td>
			</tr>
		</script>
		<script type="text/template" id="template-bookkeeping-list">
			<table>
				<tr><td>이름</td></tr>
				<tbody>
				{{#.}}
					{{> bookkeeping-view}}
				{{/.}}
				</tbody>
			</table>

			<form>
				<input type="text" name="name" />이름

				<input type="submit" value="추가" />
			</form>
		</script>
	</div>
</body>
</html>