<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/bookkeeping/bookkeepingLayout">
<head>
	<script type="text/javascript" th:src="@{#{url.mustache.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.underscore.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.backbone.js}}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/bookkeeping/model.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/bookkeeping/collection.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/bookkeeping/view.js}"></script>
</head>
<body>
	<div layout:fragment="content-bookkeeping">
		<br />
		<div id="bookkeepingArea"></div>
		
		
		<script type="text/template" id="template-bookkeeping-view">
			<td contenteditable="true" data-key="name">{{name}}</td>
			<td>
				<button class="btn btn-default btn-sm" data-menu="updateBookkeeping"><span class="glyphicon glyphicon-edit">수정</span></button>
				<button class="btn btn-default btn-sm" data-menu="deleteBookkeeping"><span class="glyphicon glyphicon-remove">삭제</span></button>
			</td>
		</script>
		<script type="text/template" id="template-bookkeeping-list">
			<div class="col-md-4">
			<table class="table">
				<colgroup>
					<col class="col-md-9"></col>
					<col class="col-md-3"></col>
				</colgroup>
				<thead>
					<tr>
						<th>이름</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
				<tfoot>
					<tr>
						<td contenteditable="true" data-key-name="createBookkeepingName" placeholder="추가할 가계부의 이름을 입력하세요"></td>
						<td><button class="btn btn-default btn-sm" data-menu="createBookkeeping"><span class="glyphicon glyphicon-plus">추가</span></button></td>
					</tr>
				</tfoot>
			</table>
			</div>
		</script>
	</div>
</body>
</html>