<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<br />
		<div class="panel panel-danger">
			<div class="panel-heading" th:text="#{error}">Panel heading without title</div>
			<div class="panel-body" th:text="${exception.message + ' ' + exception.class}">Panel content</div>
		</div>
	</div>
</body>
</html>