<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<style>

#statisticsChartArea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}
svg{
	width: 100%;
	height: 100%;
}
path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

</style>
<!-- (s) jquery -->
<script type="text/javascript" th:src="#{url.jquery.js}"></script>
<!-- (e) jquery -->
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" th:src="@{/js/study/d3/test2.js}"></script>

</head>
<body>
<button class="randomize">randomize</button> 
<div id="statisticsChartArea"></div>
</body>
</html>