<form id="modalBulkForm"
	data-th-hx-post="@{/{adminProjectId}/use/fragment/{projectId}/{mainMenuId}/{subMenuId}/modalBulkForm/{modalMode}(adminProjectId=${adminProjectId},projectId=${projectId},mainMenuId=${mainMenuId},subMenuId=${subMenuId},modalMode=${modalMode})}"
	hx-target="#fragmentArea"
>
	<div class="w-full m-1">
		
		<textarea class="textarea textarea-sm textarea-bordered w-full h-60"
			name="bulkData"
			data-th-readonly="${modalMode == 'export'}"
		></textarea>
				
	</div>
	
</form>