<!--/*-->
   field 설정에 따라 적절한 검색 창을 보여줌
   input이 preset을 가지고 있다면 select로 처리
   preset의 경우 |  구분자로 값이 나뉘어지고 , 구분자로 키/값이 나뉘어짐
   input이 boolean을 가지고 있다면 checkbox로 처리
   그외의 경우는 input text로 처리
   date는 좀더 고민해보자.
<!--*/-->

<div class="flex items-center h-16 px-10 sticky top-14 z-1 bg-base-100 bg-opacity-80"
	id="searchArea"
	data-th-if="${hasSearchField}" 
	data-th-with="dbFieldList = ${dbFieldList},
		dbFieldSearchType = ${T(net.luversof.web.dynamiccrud.setting.domain.DbFieldSearchType)}"
>
	<div class="flex gap-x-1">
		<th-block
			data-th-each="dbField : ${dbFieldList}"
			data-th-if="${dbField.isEnableSearch}">
			
			<fieldset class="fieldset py-0">
				<legend class="fieldset-legend text-gray-600"
					data-th-classappend="${dbField.isEnableSearchRequired() ? 'required' : ''}"
				>
					[[${dbField.columnName}]]
					<th-block 
						data-th-if="${!#strings.isEmpty(dbField.columnSearchType) && dbField.columnSearchType != dbFieldSearchType.EQUALS}"
					>
						<span
							class="text-gray-600 cursor-pointer tooltip tooltip-right"
							data-th-data-tip="#{'use.text.columnSearchType.' + __${dbField.columnSearchType}__}"
						>
							<div data-th-replace="~{_components/icon :: help}" />
						</span>
					</th-block>
				</legend>
				<input type="text" class="input input-sm w-48 searchInput"
					data-th-if="${#strings.isEmpty(dbField.columnPreset)}" 
					data-th-placeholder="${dbField.formPlaceholder}"
					data-th-name="${dbField.columnId}"
					data-th-value="${#arrays.isEmpty(param[dbField.columnId]) ? dbField.columnSearchDefaultValue : param[dbField.columnId]}"
					data-th-required="${dbField.isEnableSearchRequired()}"
					data-th-attr="__${dbField.columnSearchValidation ?: 'data-hasColumnSearchValidation=false'}__"
				/>
				
				<select class="select select-sm searchInput"
					data-th-unless="${#strings.isEmpty(dbField.columnPreset)}"
					data-th-name="${dbField.columnId}"
					data-th-required="${dbField.isEnableSearchRequired()}"
				>
					<option data-th-text="#{use.text.select.empty}" value="" />
					<option 
						data-th-each="presetPart : ${#strings.listSplit(dbField.columnPreset,',')}" 
						data-th-with="optionValue = ${#strings.contains(presetPart, '|')? #strings.arraySplit(presetPart, '|')[0] : presetPart}"
						data-th-value="${optionValue}" 
						data-th-text="${#strings.contains(presetPart, '|')? #strings.arraySplit(presetPart, '|')[1] : presetPart}"
						data-th-selected="${optionValue == (#arrays.isEmpty(param[dbField.columnId]) ? dbField.columnSearchDefaultValue : param[dbField.columnId][0])}"
					/>
				</select>
			</fieldset>
		</th-block>
		
		<button class="btn btn-sm btn-info self-end searchButton">
			<th-block data-th-replace="~{_components/icon :: search}" />
			[[#{button.text.search}]]
		</button>
		<button class="btn btn-sm self-end resetButton">
			<th-block data-th-replace="~{_components/icon :: reset}" />
			[[#{button.text.reset}]]
		</button>
		<!--/*-->
		<!--*/-->
	</div>
</div>