<!--/*-->
   field 설정에 따라 적절한 검색 창을 보여줌
   input이 preset을 가지고 있다면 select로 처리
   preset의 경우 |  구분자로 값이 나뉘어지고 , 구분자로 키/값이 나뉘어짐
   input이 boolean을 가지고 있다면 checkbox로 처리
   그외의 경우는 input text로 처리
   date는 좀더 고민해보자.
<!--*/-->

<div class="flex items-center h-16 px-10 sticky top-14 z-[1] bg-base-100 bg-opacity-80"
	id="searchArea"
	data-th-if="${hasSearchField}" 
	data-th-with="dbFieldList = ${dbFieldList}"
>
	<div class="flex items-center space-x-1">
		<th-block
			data-th-each="dbField : ${dbFieldList}"
			data-th-if="${dbField.isEnableSearch}">
			<input type="text" class="input input-bordered input-sm w-48 searchInput"
				data-th-if="${#strings.isEmpty(dbField.columnPreset)}" 
				data-th-placeholder="${dbField.columnName}"
				data-th-name="${dbField.columnId}"
				data-th-value="${param[dbField.columnId]}"
			/>
			
			<select class="select select-sm select-bordered searchInput"
				data-th-unless="${#strings.isEmpty(dbField.columnPreset)}"
				data-th-name="${dbField.columnId}"
			>
				<option data-th-text="${dbField.columnName}" value="" />
				<option 
					data-th-each="presetPart : ${#strings.listSplit(dbField.columnPreset,',')}" 
					data-th-with="optionValue = ${#strings.contains(presetPart, '|')? #strings.arraySplit(presetPart, '|')[0] : presetPart}"
					data-th-value="${optionValue}" 
					data-th-text="${#strings.contains(presetPart, '|')? #strings.arraySplit(presetPart, '|')[1] : presetPart}"
					data-th-selected="${!#arrays.isEmpty(param[dbField.columnId]) and optionValue == param[dbField.columnId][0]}"
				/>
				
				
			</select>
		</th-block>
		<button class="btn btn-sm btn-info searchButton">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
			</svg>
			[[#{button.text.search}]]
		</button>
		<button class="btn btn-sm resetButton">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
			</svg>
			[[#{button.text.reset}]]
		</button>
	</div>
	
</div>