<!DOCTYPE html>
<html data-layout-decorate="~{_layout/defaultLayout}" data-th-with="
	thymeleafUtil = ${T(net.luversof.web.dynamiccrud.thymeleaf.util.ThymeleafUtil)},
	navibarTitle=${thymeleafUtil.getMainMenu().mainMenuName}">

<head>
	<script src="https://unpkg.com/htmx.org"></script>
	<script data-th-src="@{/js/common.js}"></script>
	<script>
	</script>
</head>

<body>
	<div data-layout-fragment="content">
		
		<div data-th-replace="~{use/_components/searchArea}" />
		<div
			class="px-10"
			data-th-attr="hx-get=@{${thymeleafUtil.getUrl('FRAGMENT_LIST')}}"
			hx-vals="js:{'page' : param.getRequestPage()}"
			hx-include="#searchArea .searchInput"
			hx-boost="true"
			hx-trigger="
				load delay:0s,
				click target:.navButton, 
				searchListTrigger, 
				click from:(#searchArea .resetButton) delay:0.0001s,
				createModal from:body delay:0.0001s,
				updateModal from:body,
				deleteModal from:body,
				importModalBulk from:body delay:0.0001s"
		>
			<div class="text-center">
				<span class="loading loading-ring loading-lg"></span>
			</div>
		</div>
		
	</div>

	<div data-th-insert="~{_layout/defaultLayout :: copy}" />
</body>

</html>
