<!DOCTYPE html>
<html data-layout-decorate="~{_layout/defaultLayout}" data-th-with="
	thymeleafUtil = ${T(net.luversof.web.dynamiccrud.thymeleaf.util.ThymeleafUtil)},
	navibarTitle=${thymeleafUtil.getMainMenu().mainMenuName}">
<body>
	<div data-layout-fragment="content">
		
		<div data-th-replace="~{use/_components/searchArea}" />
		<div
			class="px-10"
			data-th-attr="hx-get=@{${thymeleafUtil.getUrl('FRAGMENT_LIST')}}"
			hx-vals="js:{'page' : param.getRequestPage()}"
			hx-include="#searchArea .searchInput"
			hx-boost="true"
			hx-swap="transition:true"
			hx-trigger="
				load delay:0s,
				click target:.navButton, 
				searchListTrigger, 
				click from:(#searchArea .resetButton),
				createModalResponseTrigger from:body,
				updateModalResponseTrigger from:body,
				deleteModalResponseTrigger from:body,
				importModalBulkResponseTrigger from:body"
		>
			<div class="text-center my-10">
				<span class="loading loading-ring loading-lg"></span>
			</div>
		</div>
		
	</div>

	<div data-th-insert="~{_layout/defaultLayout :: copy}" />
</body>

</html>
