<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="blog/_template/blogLayout">
<th:block layout:fragment="content-blog">

	<h2>블로그를 생성하세요.</h2>

	<form name="blog-create" th:action="@{/api/blogs}" method="post" class="form-inline">
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="생성"/>
		</div>
	</form>

</th:block>
</html>