<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="blog/_template/blogLayout">
<head>
</head>
<body>
<th:block layout:fragment="content-blog">
	
	<blog-list inline-template>
		<table class="table">
			<thead>
				<tr>
					<th>[[#{blog.article.text.id}]]</th>
					<!--/* <th>[[#{blog.article.text.category}]]</th> */-->
					<th>[[#{blog.article.text.title}]]</th>
					<th>[[#{blog.article.text.createdDate}]]</th>
					<th>[[#{blog.article.text.viewCount}]]</th>
				</tr>
			</thead>
		
			<tbody>
				<tr v-if="getArticleList().length == 0" class="text-center">
					<td colspan="5" v-text="i18n('blog.article.message.empty.content')"></td>
				</tr>
				<tr v-else="getArticleList().length == 0" v-for="article in getArticleList()">
					<td v-text=article.id></td>
					<!--/* <td th:text="${blogArticle.category} ? ${blogArticle.category.name}"></td> */-->
					<td><a v-bind:href="getViewUrl(article.id)" v-text="article.title"></a></td>
					<td v-text="dateFormat(article.createdDate, 'LL')"></td>
					<td v-text="article.viewCount"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<slot><common-nav :page-info="articleListResponse.page" :move-page-fnc="moveListView" /></slot>
						<slot><blog-write-button /></slot>
					</td>
				</tr>
			</tfoot>
		</table>
	</blog-list>
</th:block>
</body>
</html>