<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="blog/_template/blogLayout">
<head>
	<script type="text/javascript" th:src="#{url.gist-embed.js}" defer="defer"></script>
</head>
<body>
	<th:block layout:fragment="content-blog">
	
	
		<blog-article-view inline-template class="blog-view">
			<div>
				<article>
					<h2 v-text="blogArticle.title"></h2>
					<p><time pubdate="pubdate" v-text="dateFormat(blogArticle.createdDate, 'LL')"></time></p>
					<p><span>[[#{blog.article.text.viewCount}]] : </span><span v-text="blogArticle.viewCount"></span></p>
					<div v-html="blogArticle.content"></div>
				</article>
				
				
				<div class="text-center">
					<slot><blog-article-modify-button /></slot>
					<slot><blog-article-delete-button /></slot>
					<a class="btn btn-outline-secondary" href="[[#{url.blog.view.list(${blogId})}]]">[[#{blog.menu.list}]]</a>
				</div>
			</div>
		</blog-article-view>
	</th:block>
</body>
</html>