<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="blog/_template/blogLayout">
<head>
	<script th:src="@{/webjars/tinymce-jquery/tinymce.min.js}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		/* $.article.setBlogId("[[${blogId}]]");
		$.article.createForm($(".container"), $("#articleCreateFormTemplate").html()).done(function() {
			tinyMCE.init({
				selector : "#content",
				plugins : "code",
				setup : function(editor) {
					editor.on("change" , function() {
						tinyMCE.triggerSave();
					})
				}
			});
		}); */
	});
	</script>
</head>
<body>
	<th:block layout:fragment="content-blog">
		<div class="container">
			<blog-article-write inline-template>
				<form  @submit.prevent="write">
					<div class="form-group row">
						<label class="col-form-label" for="title" v-text="i18n('blog.article.text.title')"></label>
						<div class="col-10">
							<input class="form-control" type="text" name="title" v-model="title" :placeholder="i18n('blog.article.text.title')" />
						</div>
					</div>
					<div class="form-group row" v-if="getCategoryList().length > 0">
						<label class="col-form-label" for="category" th:text="#{blog.article.text.category}"></label>
						<div class="col-10">
							<select id="category" name="category" class="form-control">
								<option v-for="catyegory in getCategoryList()" value="_links.self.href" v-text="category.name"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label" for="content" th:text="#{blog.article.text.content}"></label>
						<div class="col-10">
							<textarea class="form-control" rows="13" name="content" v-model="content" th:placeholder="#{blog.article.text.content}"></textarea>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-outline-primary" type="submit" th:text="#{blog.menu.save}"></button>
						<button class="btn btn-outline-default cancel" type="button" th:text="#{blog.menu.cancel}"></button>
					</div>
				</form>
			</blog-article-write>
		</div>
	</th:block>
</body>
</html>