<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="blog/_template/blogLayout">
<head>
	<script th:src="@{/webjars/tinymce-jquery/tinymce.min.js}"></script>
	<script>
	$(document).ready(function() {
		blogVueData.blogId = "[[${blogId}]]";
	});
	</script>
	<script type="text/javascript">
	$(document).ready(function() {
		/* $.article.setBlogId("[[${blogId}]]");
		$.article.createForm($(".container"), $("#articleCreateFormTemplate").html()).done(function() {
			tinyMCE.init({
				selector : "#content",
				plugins : "code",
				setup : function(editor) {
					editor.on("change" , function() {
						tinyMCE.triggerSave();
					})
				}
			});
		}); */
	});
	</script>
</head>
<body>
	<th:block layout:fragment="content-blog">
		<div class="container">
			<blog-write inline-template>
				<div class="form-group row">
					<label class="col-form-label" for="title">{{i18n("blog.article.text.title")}}</label>
					<div class="col-10">
						<input class="form-control" type="text" name="title" id="title" :placeholder="i18n('blog.article.text.title')" />
					</div>
				</div>
				<!-- 
				{{#_embedded.categories.length}}
				<div class="form-group row">
					<label class="col-form-label" for="category">[[#{blog.article.text.category}]]</label>
					<div class="col-10">
						<select id="category" name="category" class="form-control">
							{{#_embedded.categories}}
								<option value="{{_links.self.href}}">{{name}}</option>
							{{/_embedded.categories}}
						</select>
					</div>
				</div>
				{{/_embedded.categories.length}}
				<div class="form-group row">
					<label class="col-form-label" for="content">[[#{blog.article.text.content}]]</label>
					<div class="col-10">
						<textarea class="form-control" rows="13" name="content" id="content" placeholder="[[#{blog.article.text.content}]]"></textarea>
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-outline-primary" type="submit">[[#{blog.menu.save}]]</button>
					<button class="btn btn-outline-default cancel" type="button">[[#{blog.menu.cancel}]]</button>
				</div> -->
			</blog-write>
		</div>
	</th:block>
</body>
</html>