<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<script type="text/javascript" th:src="@{/resources/wysihtml5/js/wysihtml5-0.3.0.js}"></script>
		<script type="text/javascript" th:src="@{/js/bluesky_advanced.js}"></script>
		<script type="text/javascript" th:inline="text">
			$(document).ready(function() {
				$("button.btn.cancel").on("click", function() {
					history.back();
				});
				var editor = new wysihtml5.Editor("content", { // id of textarea element
					toolbar : "wysihtml5-toolbar", // id of toolbar element
					parserRules : wysihtml5ParserRules, // defined in parser rules set
					stylesheets : "[[@{/resources/wysihtml5/css/stylesheet.css}]]"
				});
			});
		</script>
		<div class="page-header">
			<h1>BlogPost <small th:text="#{blogPost.menu.modify}">modify</small></h1>
		</div>
		<form class="form-horizontal" action="." method="post">
			<input type="hidden" name="_method" value="put" />
			<div class="form-group">
				<label class="col-lg-2 control-label" for="title" th:text="#{blogPost.text.title}">title</label>
				<div class="col-lg-6">
					<input class="form-control" type="text" name="title" id="title" th:placeholder="#{blogPost.text.title}" th:value="${blogPost.title}" />
				</div>
			</div>
			<div class="form-group" th:if="${blogCategoryList}">
				<label class="col-lg-2 control-label" for="blogCategory.id" th:text="#{blogPost.text.category}">category</label>
				<div class="col-lg-6">
					<select id="blogCategory.id" name="blogCategory.id" class="form-control">
						<option th:each="blogCategory : ${blogCategoryList}" th:value="${blogCategory.id}" th:text="${blogCategory.title}" th:selected="${blogCategory.id == blogPost.blogCategory.id}">category</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="content" th:text="#{blogPost.text.content}">content</label>
				<div class="col-lg-6">
				
					<div id="wysihtml5-toolbar" style="display: none;">
						<a data-wysihtml5-command="bold">bold</a>
						<a data-wysihtml5-command="italic">italic</a>
						
						<!-- Some wysihtml5 commands require extra parameters -->
						<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
						<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
						<a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>
						
						<!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
						<a data-wysihtml5-command="createLink">insert link</a>
						<div data-wysihtml5-dialog="createLink" style="display: none;">
							<label>
								Link:
								<input data-wysihtml5-dialog-field="href" value="http://" class="text" />
							</label>
							<a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
						</div>
						<a data-wysihtml5-action="change_view" title="Show HTML" class="action">show html</a>
					</div>
					
					<textarea class="form-control" rows="13" name="content" id="content" th:placeholder="#{blogPost.text.content}" th:text="${blogPost.content}"></textarea>
					<br />
					<div class="text-center">
						<button class="btn btn-primary" type="submit" th:text="#{blogPost.menu.save}">save</button>
						<button class="btn btn-default cancel" type="button" th:text="#{blogPost.menu.cancel}">cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>