<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<include resource="net/luversof/core/logging/logback/base.xml" />


	<springProfile name="!live">
		<logger name="org.springframework.graphql"
			level="DEBUG" />
		<logger name="graphql"
			level="DEBUG" />
	</springProfile>
</configuration>