<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<div layout:fragment="content">
	<table class="table">
		<thead>
			<tr>
				<th>1</th>
				<th>하하</th>
				<th>흠</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>하하</td>
				<td>흠</td>
			</tr>
		</tbody>
	</table>
	<a href="write"><button class="btn" type="button">글쓰기</button></a>
</div>
</html>