<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<div layout:fragment="content">
	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>title</th>
				<th>memberId</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="blog : ${blogList}">
				<td th:text="${blog.id}">1</td>
				<td><a th:href="${blog.id}" th:text="${blog.title}">title</a></td>
				<td th:text="${blog.memberId}">흠</td>
			</tr>
		</tbody>
	</table>
	<a href="write"><button class="btn" type="button">글쓰기</button></a>
</div>
</html>