<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="/layout/defaultLayout">
<head>
	<script type="text/javascript" th:src="@{/js/bluesky_data_rest.js}"></script>
	<script type="text/javascript" th:src="@{/js/mustache.js}"></script>
	<script type="text/javascript" th:src="@{/js/bluesky_bookkeeping_assetGroup.js}"></script>
</head>
<body>
<div layout:fragment="content">

	<div class="page-header">
		<h1>AssetGroup <small th:text="#{assetGroup.menu.list}">list</small></h1>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-lg-1" th:text="#{assetGroup.text.name}">name</th>
				<th class="col-lg-1" th:text="#{assetGroup.text.assetType}">assetType</th>
				<th class="col-lg-1 assetGroup-menu-add"><span class="glyphicon glyphicon-plus"></span> <span th:text="#{assetGroup.menu.add}">add</span></th>
			</tr>
		</thead>
		<tbody>
			<!-- 
			<tr th:if="${!#lists.isEmpty(assetGroupList)}" th:each="assetGroup : ${assetGroupList}">
				<td th:text="${assetGroup.id}">id</td>
				<td th:text="${assetGroup.name}" contenteditable="true">name</td>
				<td th:text="${assetGroup.username}">username</td>
				<td th:text="${assetGroup.assetType}">assetType</td>
				<td></td>
			</tr>
			 -->
			<tr th:if="${#lists.isEmpty(assetGroupList)}" class="text-center">
				<td colspan="3" th:text="#{assetGroup.message.empty.content}">assetGroup.message.empty.content</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" class="text-center">
					<button sec:authorize="isAuthenticated()" class="btn btn-primary assetGroup-menu-add" th:text="#{assetGroup.menu.add}">add</button>
				</td>
			</tr>
		</tfoot>
	</table>
	
	<script type="text/template" id="assetGroup-template">
	<tr>
		<td contenteditable="true">{{name}}</td>
		<td contenteditable="true">{{assetType}}</td>
		<td></td>
	</tr>
	</script>
	
	<!-- (s) assetGroup add modal -->
	<div class="modal fade assetGroup-add-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" >&times;</button>
					<h4 class="modal-title">AssetGroup <small th:text="#{assetGroup.menu.add}">add</small></h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="name" class="col-lg-2 control-label" th:text="#{assetGroup.text.name}">name</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="name" th:placeholder="#{assetGroup.text.name}" />
							</div>
						</div>
						<div class="form-group">
							<label for="assetType" class="col-lg-2 control-label" th:text="#{assetGroup.text.assetType}">assetType</label>
							<div class="col-lg-10">
								<select class="form-control" id="assetType">
									<option th:each="assetType : ${T(net.luversof.bookkeeping.domain.AssetType).values()}" th:value="${assetType.name()}" th:text="${assetType.name()}">1</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{close}">close</button>
					<button type="button" class="btn btn-primary assetGroup-add" th:text="#{assetGroup.menu.add}">add</button>
				</div>
			</div>
		</div>
	</div>
	<!-- (e) assetGroup add modal -->
</div>
</body>
</html>