<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bluesky_battleNet_d3.css}" />
	<script type="text/javascript" th:src="#{url.mustache.js}"></script>
	<script type="text/javascript" th:src="@{/js/bluesky_battleNet_d3.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
		      	<div class="col-sm-2">
					<ul class="nav nav-pills nav-stacked" th:with="path = ${#httpServletRequest.servletPath}, menu = ${T(net.luversof.web.constant.MenuInfo).getName(path)}">
						<li th:class="${menu} == 'home' ? active"><a th:href="@{/battleNet/d3/index}">내 프로필</a></li>
						<li th:class="${menu} == 'myProfile' ? active"><a th:href="@{/battleNet/d3/my/profile}">내 프로필</a></li>
						
					</ul>
				</div>
				<div class="col-sm-10">
					<div layout:fragment="content-battleNet" class="content-battleNet"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>