<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<head>
	<script layout:fragment="serviceScript" th:src="@{/js/bluesky_asset.js}"></script>
</head>
<body>
<div layout:fragment="content">

	<!-- 동적으로 데이터를 변경할 수 있는 기능 제공 -->
	<script type="text/javascript" th:inline="text">
		$(document).ready(function() {
			asset.start("[[@{/}]]", [[${#authentication.principal.id}]]);
			//이거 안해도 되게 안되나?
			$("[data-toggle=tooltip]").tooltip();
		});
	</script>
	<div class="page-header">
		<h1>Asset <small th:text="#{asset.menu.list}">list</small></h1>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-lg-1" th:text="#{asset.text.id}">id</th>
				<th class="col-lg-1" th:text="#{asset.text.name}">name</th>
				<th class="col-lg-1" th:text="#{asset.text.username}">username</th>
				<th th:text="#{asset.text.amount}">amount</th>
				<th class="col-lg-1" th:text="#{asset.text.enable}">enable</th>
				<th class="col-lg-1" th:text="#{asset.text.assetGroup.name}">assetGroup.name</th>
				<th class="col-lg-1 asset-menu-add"><span class="glyphicon glyphicon-plus"></span> <span th:text="#{asset.menu.add}">add</span></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${!#lists.isEmpty(assetList)}" th:each="asset : ${assetList}">
				<td th:text="${asset.id}">id</td>
				<td th:text="${asset.name}" contenteditable="true">name</td>
				<td th:text="${asset.username}">username</td>
				<td th:text="${asset.amount}" contenteditable="true">amount</td>
				<td th:text="${asset.enable}" contenteditable="true">enable</td>
				<td th:if="${asset.assetGroup != null}" th:text="${asset.assetGroup.name}">assetGroup.name</td>
				<td></td>
			</tr>
			<tr th:if="${#lists.isEmpty(assetList)}" class="text-center">
				<td colspan="7" th:text="#{asset.message.empty.content}">asset.message.empty.content</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center">
					<button sec:authorize="isAuthenticated()" class="btn btn-primary asset-menu-add" th:text="#{asset.menu.add}">add</button>
				</td>
			</tr>
		</tfoot>
	</table>
	
	<!-- (s) asset add modal -->
	<div class="modal fade asset-add-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" >&times;</button>
					<h4 class="modal-title">Asset <small th:text="#{asset.menu.add}">add</small></h4>
				</div>
				<div class="modal-body">
	
	
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="name" class="col-lg-2 control-label" th:text="#{asset.text.name}">name</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="name" th:placeholder="#{asset.text.name}" />
							</div>
						</div>
						<div class="form-group">
							<label for="amount" class="col-lg-2 control-label" th:text="#{asset.text.amount}">amount</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="amount" th:placeholder="#{asset.text.amount}" />
							</div>
						</div>
						<div class="form-group">
							<label for="assetGroup.id" class="col-lg-2 control-label" th:text="#{asset.text.assetGroup.name}">assetGroup.name</label>
							<div class="col-lg-10">
								<select class="form-control" id="assetGroup.id">
									<option th:each="assetGroup : ${assetGroupList}" th:value="${assetGroup.id}" th:text="${assetGroup.name}">1</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-10">
								<div class="checkbox">
									<label> <input type="checkbox" checked="checked" id="enable" th:text="#{asset.text.enable}" /> </label>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{close}">close</button>
					<button type="button" class="btn btn-primary asset-add" th:text="#{asset.menu.add}">add</button>
				</div>
			</div>
		</div>
	</div>
	<!-- (e) asset add modal -->
</div>
</body>
</html>