<!DOCTYPE html>
<html lang="ko" data-layout-decorate="~{_layout/defaultLayout}">
<head>
	<title>Bluesky Board</title>
	<script src="https://unpkg.com/dayjs"></script>
	<script src="https://unpkg.com/dayjs/locale/ko"></script>
	<script>
		dayjs.locale('ko');
	</script>
	<script src="https://unpkg.com/dayjs/plugin/relativeTime"></script>
	<script>
		dayjs.extend(globalThis.dayjs_plugin_relativeTime);
	</script>
	<script type="module" data-th-src="@{/js/board/board.js}"></script>
</head>
<body>
	<div data-layout-fragment="content" class="flex flex-col lg:flex-row">
		<div class="grid bg-base-100">
			<div data-th-replace="~{_components/navmenu (menu = 'board', classAppend = 'bg-base-100 w-56')}"></div>
		</div>
		<div class="grid grow mx-4" data-layout-fragment="content-board">
			content
		</div>
	</div>
</body>
</html>
