@tailwind base;
@tailwind components;
@tailwind utilities;

/* pagination 비활성화 버튼 배경색 처리 제거 */
.navButton.btn.btn-disabled {
	--tw-bg-opacity: 0.0;
}


/* htmx indicator 설정 */
.htmx-indicator{
    opacity: 1 !important;
    display:none;
}

.htmx-request.htmx-indicator{
    display:inline;
}
