<div class="navbar bg-base-100">
		
	<div class="navbar-start">
		<div class="dropdown">
			<label tabindex="0" class="btn btn-ghost lg:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
					stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
				</svg>
			</label>
			<div data-th-replace="~{_components/navmenu (classAppend = 'menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52')}" />
		</div>
		<a class="btn btn-ghost text-xl" data-th-text="${navibarTitle?:'Event Admin Setting'}" data-th-href="@{/}"></a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<div data-th-replace="~{_components/navmenu (classAppend = 'menu-horizontal px-1')}" />
	</div>
	<div class="navbar-end" data-th-with="userUtil = ${T(net.luversof.client.user.util.UserUtil)}">
		<div class="pr-2" data-sec-authorize="isAuthenticated()" data-th-text="${userUtil.getLoginInfo().username}">로그인 된 상태</div>
		<div class="pr-2" data-sec-authorize="!isAuthenticated()">
			<a href="/oauth2/authorization/github">github 로그인</a>
			<a href="/oauth2/authorization/github-local2">github local 로그인</a>
		</div>
		
		<select class="select select-sm select-bordered" data-choose-theme>
			<option value="">Default</option>
			<option value="light">Light</option>
			<option value="dark">Dark</option>
			<option value="cupcake">Cupcake</option>
			<option value="bumblebee">Bumblebee</option>
			<option value="emerald">Emerald</option>
			<option value="corporate">Corporate</option>
			<option value="synthwave">Synthwave</option>
			<option value="retro">Retro</option>
			<option value="cyberpunk">Cyberpunk</option>
			<option value="valentine">Valentine</option>
			<option value="halloween">Halloween</option>
			<option value="garden">Garden</option>
			<option value="forest">Forest</option>
			<option value="aqua">Aqua</option>
			<option value="lofi">Lofi</option>
			<option value="pastel">Pastel</option>
			<option value="fantasy">Fantasy</option>
			<option value="wireframe">Wireframe</option>
			<option value="black">Black</option>
			<option value="luxury">Luxury</option>
			<option value="dracula">Dracula</option>
			<option value="cmyk">cmyk</option>
			<option value="autumn">Autumn</option>
			<option value="business">Business</option>
			<option value="acid">Acid</option>
			<option value="lemonade">Lemonade</option>
			<option value="night">Night</option>
			<option value="coffee">Coffee</option>
			<option value="winter">Winter</option>
			<option value="dim">Dim</option>
			<option value="nord">Nord</option>
			<option value="sunset">Sunset</option>
		</select>
		
		<a href="/dev" class="ml-2">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
			</svg>
		</a>
	</div>
</div>
