<!--/* pagination component */-->

<div
	class="w-full join place-content-center"
	data-th-with="pagination = ${pagination}"
>
	<button 
		class="join-item btn btn-sm navbutton"
		data-th-classappend="!${pagination.firstNav.active} ? btn-disabled"
		data-th-onclick="'page=' + ${pagination.firstNav.page}"
	>
		≪
	</button>
	<button 
		class="join-item btn btn-sm navbutton" 
		data-th-classappend="!${pagination.prevNav.active} ? btn-disabled"
		data-th-onclick="'page=' + ${pagination.prevNav.page}"
	>
		＜
	</button>
	
	<div data-th-each="nav : ${pagination.navList}">
		<button 
			class="join-item btn btn-sm navbutton"
			data-th-classappend="${nav.active} ? btn-active"
			data-th-onclick="'page=' + ${nav.page}"			 
			data-th-text="${nav.page}"
		>
		</button>
	</div>
		
	
	
	<button 
		class="join-item btn btn-sm navbutton"
		data-th-classappend="!${pagination.nextNav.active} ? btn-disabled"
 		data-th-onclick="'page=' + ${pagination.nextNav.page}"
	>
		＞
	</button>
	
	<button 
		class="join-item btn btn-sm navbutton"
		data-th-classappend="!${pagination.lastNav.active} ? btn-disabled"
 		data-th-onclick="'page=' + ${pagination.lastNav.page}"
	>
		≫
	</button>
</div>