<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<br />
		<div class="well">	
			웰컴
			<script type="text/javascript">
			/* $.ajax({
				url : "https://github.com/login/oauth/access_token",
				header : ""
				data : {
					client_id : "5ce0e9ac811fd9c04543",
					client_secret : "b280853a74e6ae138ac23805092ddca670624ac9",
					code : "7abb7dc69b2ea0cbb10c"
				},
				success : function(data, textStatus, jqXHR) {
					console.log(data);
					console.log(textStatus);
					console.log(jqXHR);
				}
			}); */
			</script>
			<form action="https://github.com/login/oauth/access_token" method="post">
				<input type="text" name="client_id" value="5ce0e9ac811fd9c04543" />
				<input type="text" name="client_secret" value="b280853a74e6ae138ac23805092ddca670624ac9" />
				<input type="text" name="code" value="7abb7dc69b2ea0cbb10c" />
				<input type="submit" />
			</form>
		</div>
		[[${#authentication}]]안보이나?<br />
		theme url.bootswatch.css :  [[${#themes.code('url.bootswatch.css')}]] <br />
		test : [[${@environment.getProperty('server.port')}]]<br />
		[[${springRequestContext.theme.name}]]
		
	</div>
</body>
</html>