<!DOCTYPE html>
<html
	data-th-data-theme="${thymeleafUtil.getRandomTheme()}" 
	data-th-with="
		thymeleafUtil = ${T(net.luversof.web.gate.util.ThymeleafUtil)},
		path_icons = '_components/icons',
	"
>
<head>
	<link data-th-href="@{/main.css}" rel="stylesheet" />
	<script src="https://unpkg.com/theme-change"></script>
	<script src="https://unpkg.com/htmx.org"></script>
	<script data-th-src="@{/js/common.js}"></script>
</head>

<body>

	<div data-th-replace="~{_components/body/navbar/navbar}" />

	<div data-layout-fragment="content" />
	
	<footer data-th-replace="~{_components/body/footer}" />

</body>
</html>