<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="/layout/defaultLayout">
<head>
	<link th:href="@{/resources/wysihtml5/css/stylesheet.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/bluesky_blog.js}"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gist-embed/1.8/gist-embed.min.js" defer="defer"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<h1>Blog <small th:text="#{blog.menu.view}">view</small></h1>
		</div>
		<article>
			<h2 th:text="${article.articleCategory} ? #{article.message.title(${article.title}, ${article.articleCategory.name})} : ${article.title}">title</h2>
			<!-- <p><time pubdate="pubdate" th:text="${#dates.format(article.createdDate, 'yyyy-MM-dd HH:mm:ss')}">createdDate</time></p> -->
			<p><time pubdate="pubdate" th:text="${article.createdDate}">createdDate</time></p>
			<div class="panel panel-default">
				<div class="panel-body" th:attr="data-article-content=${article.content}">content</div>
			</div>
			<div class="text-center">
				<a href="write" sec:authorize="isAuthenticated()" class="btn btn-primary" th:text="#{blog.menu.write}">write</a>
				<a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == article.blog.userId}" th:href="@{'/blog/article/' + ${article.id} + '/modify'}" class="btn btn-primary" th:text="#{blog.menu.modify}">modify</a>
				<a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == article.blog.userId}" class="btn btn-warning delete" th:attr="data-article-id=${article.id}" th:text="#{blog.menu.delete}">delete</a>
				<a th:href="@{'/blog/article'}" class="btn btn-default" th:text="#{blog.menu.list}">list</a>
			</div>
		</article>
		
		<div th:if="${#arrays.contains(#ctx.applicationContext.environment.activeProfiles, 'live')}">
			<hr />
			<div id="fb-root"></div>
			<script type="text/javascript">(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&amp;appId=124755777691522";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="panel panel-default text-center">
				<div class="fb-comments panel-body" th:attr="data-href='http://luversof.cafe24.com/blog/' + ${article.id}" ></div>
			</div>
			<!-- facebook 댓글은 나중에 고민하자, width 가변 문제 해결 필요  -->
		</div>
	</div>
</body>
</html>