<div class="navbar bg-base-100"
	data-th-with="
		gateThymeleafUtil = ${T(net.luversof.web.gate.thymeleaf.util.GateThymeleafUtil)},
		mainMenuList = ${gateThymeleafUtil.getMenuList('main')}"
>
		
	<div class="navbar-start">
		<div class="dropdown">
			<label tabindex="0" class="btn btn-ghost lg:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
					stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
				</svg>
			</label>
			<div data-th-replace="~{_components/navmenu (menu = 'main', classAppend = 'menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52')}" />
		</div>
		<a class="btn btn-ghost text-xl">Bluesky</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<div data-th-replace="~{_components/navmenu (menu = 'main', classAppend = 'menu-horizontal px-1')}" />
	</div>
	<div class="navbar-end" data-th-with="userUtil = ${T(net.luversof.web.gate.user.util.UserUtil)}">
		<div data-sec-authorize="isAuthenticated()" data-th-text="${userUtil.getLoginInfo().username}">로그인 된 상태</div>
		<div data-sec-authorize="!isAuthenticated()">
			<a href="/oauth2/authorization/github">github 로그인</a>
			<a href="/oauth2/authorization/github-local">github local 로그인</a>
		</div>
		
		<select class="select select-sm" data-choose-theme>
			<option value="">Default</option>
			<option value="light">Light</option>
			<option value="dark">Dark</option>
			<option value="winter">Winter</option>
		</select>
	</div>
</div>
