<!--/* properties에 설정한 menu를 기준으로 메뉴 목록을 제공 */-->

<ul class="menu"
	data-th-with="
	gateThymeleafUtil = ${T(net.luversof.web.gate.thymeleaf.util.GateThymeleafUtil)},
	menu=${menu},
	menuList = ${gateThymeleafUtil.getMenuList(menu)},
	isCurrentMenu = ${isCurrentMenu?:false},
	classAppend = ${classAppend}
	"
	data-th-classappend="${classAppend}">
	<li data-th-each="menu : ${menuList}">
		<a data-th-classappend="${menu.isCurrentMenu ? 'active' : ''}" data-th-href="${menu.url}"
			data-th-text="#{${menu.messageCode}}">
		</a>
	</li>
</ul>