<div class="w-full join place-content-center">
	<button class="join-item btn btn-sm">«</button>
	{{#pageNavigation.navList}}
		<button class="join-item btn btn-sm navbutton{{#isCurrentPage}} btn-active{{/isCurrentPage}}" onclick="page={{page}}">{{page}}</button>
	{{/pageNavigation.navList}}	
</div>