<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<property name="CONSOLE_LOG_PATTERN" value="%clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(${LOG_CORRELATION_PATTERN:-}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
	<include resource="io/github/luversof/boot/logging/logback/base.xml"/>
	
	<logger name="net.luversof" level="debug" />
	
	<logger name="java.sql" level="debug" />
	<!-- <logger name="org.hibernate" level="debug" /> -->
	<!-- <logger name="org.springframework.integration" level="debug" /> -->
	<!-- <logger name="org.springframework.amqp" level="debug" /> -->
	<!-- <logger name="com.rabbitmq" level="debug" /> -->
	<!-- <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" /> -->
	<!-- <logger name="org.hibernate.type.descriptor.jdbc.BasicBinder" level="trace" /> -->
	<!-- <logger name="org.hibernate.orm.jdbc.bind" level="trace" /> -->
</configuration>