<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<br />
		<h1>Error</h1>
		<div th:if="${result != null and #bools.listIsTrue(result)}" th:each="errorMessage : ${result}">
			<div th:if="${errorMessage.displayableMessage}" th:text="${errorMessage.message}"></div>
			<div th:unless="${errorMessage.displayableMessage}">
				<div th:text="${errorMessage.class}">class</div>
				<div th:text="${errorMessage.message}">message</div>
			</div>
		</div>
		<div th:if="${result != null and #bools.listIsFalse(result)}">
			<div th:if="${result}">
				<div th:text="${result.class}">class</div>
				<div th:text="${result.message}">message</div>
			</div>
			&nbsp;
		</div>
		<div th:if="${result == null}">
			<div th:if="${result ne empty}">
				알 수 없는 에러가 발생하였습니다.
			</div>
		</div>
	</div>
</body>
</html>