<!DOCTYPE html>
<html data-layout-decorate="~{_layout/defaultLayout}">

<head>
	<script src="https://unpkg.com/htmx.org"></script>
	<script data-th-src="@{/js/common.js}"></script>
	<script>

	</script>
</head>

<body>
	<div data-layout-fragment="content">
		
		<div class="search">
			<input type="text" data-th-value="${param.product}" name="product" placeholder="프로덕트 ID" class="input input-bordered input-sm w-48 searchinput" />
			<input type="text" data-th-if="${type == 'mainMenu' || type == 'subMenu' || type == 'query' || type == 'field'}" data-th-value="${param.mainMenu}" name="mainMenu" placeholder="메인메뉴 ID" class="input input-bordered input-sm w-48 searchinput" />
			<input type="text" data-th-if="${type == 'subMenu' || type == 'query' || type == 'field'}" data-th-value="${param.subMenu}" name="subMenu" placeholder="서브메뉴 ID" class="input input-bordered input-sm w-48 searchinput" />
			
			<button class="btn btn-sm resetbutton">Reset</button>
		</div>
		
		<div
			data-th-attr="hx-get=@{/setting/fragment/{type}/list(type=${type})}"
			hx-vals="js:{'page' : param.getRequestPage()}"
			hx-include="#searchArea .searchinput"
			hx-trigger="
				load delay:0s,
				click target:.navbutton, 
				change from:(#searchArea .searchinput),
				click from:(#searchArea .resetbutton)"
		>
		</div>
		
	</div>

	<div data-th-insert="~{_layout/defaultLayout :: copy}"></div>
</body>

</html>
