<!--/*-->
	전달받은 fieldList로 입력 폼을 생성한다.
	원본 값은 '__org__' prefix를 붙인 값으로 전달한다.
<!--*/-->

<dialog id="modal" class="modal"
	data-th-with="
		thymeleafUtil = ${T(net.luversof.web.dynamiccrud.thymeleaf.util.ThymeleafUtil)},
		dbFieldList = ${thymeleafUtil.getDbFieldList()}
	">
	<div class="modal-box max-w-xl">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		</form>
		<h3 class="font-bold text-lg" data-th-text="#{use.text.modalForm.__${modalMode}__}"></h3>
		<div class="m-2">
			<div data-th-replace="~{use/_components/modalForm}" />
		</div>

		<div class="flex justify-between">

			<div>
				<button class="btn btn-sm copySearchButton" data-th-text="#{button.text.copySearchArea}"></button>
				<button class="btn btn-sm copyDataButton" data-th-text="#{button.text.copyData}"></button>
			</div>

			<div class="flex justify-between">
				<button class="btn btn-sm mr-1" data-th-text="#{button.text.__${modalMode}__}" form="modalForm" />
				<form method="dialog">
					<!-- if there is a button in form, it will close the modal -->
					<button class="btn btn-sm" data-th-text="#{button.text.cancel}" />
				</form>
			</div>
		</div>
	</div>
</dialog>