<!--/*-->
	전달받은 fieldList로 입력 폼을 생성한다.
	원본 값은 '__org__' prefix를 붙인 값으로 전달한다.
<!--*/-->
<dialog id="modal" class="modal"
	data-th-with="
		thymeleafUseUtil = ${T(net.luversof.web.dynamiccrud.use.util.ThymeleafUseUtil)},
		fieldList = ${thymeleafUseUtil.getFieldList(product, mainMenu, subMenu)}
	">
	<div class="modal-box max-w-xl">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		</form>
		<h3 class="font-bold text-lg" data-th-text="#{use.text.modal.__${modalMode}__}"></h3>
		<div class="m-2">
			<form id="modalForm"
				data-th-hx-post="@{/use/fragment/{product}/{mainMenu}/{subMenu}/modal/{modalMode}(product=${product},mainMenu=${mainMenu},subMenu=${subMenu},modalMode=${modalMode})}"
				hx-target="#fragmentArea"
			>
				<div class="join w-full m-1" data-th-each="field : ${fieldList}" data-th-if="${field.isEnableEdit()}">
					<button class="btn btn-sm join-item w-1/4" data-th-text="${field.name}"></button>
					<input type="text" class="input input-sm input-bordered join-item w-full"
						 data-th-name="${field.column}"
						 data-th-required="${field.isEnableEditRequired()}"
					/>
				</div>
				<input type="hidden"
					data-th-each="field : ${fieldList}"
					data-th-if="${field.isEnableEdit()}"
					data-th-name="'\_\_org\_\_' + ${field.column}"
				/>
			</form>
		</div>


		<div class="flex justify-between">

			<div>
				<button class="btn btn-sm copySearchButton" data-th-text="#{use.text.modal.copySearchArea}"></button>
				<button class="btn btn-sm copyDataButton" data-th-text="#{use.text.modal.copyContentData}"></button>
			</div>

			<div class="flex justify-between">
				<button class="btn btn-sm mr-1" data-th-text="#{button.text.__${modalMode}__}"
					data-modal-target="modal"
					data-modal-action="close"
					form="modalForm"
				/>
				<form method="dialog">
					<!-- if there is a button in form, it will close the modal -->
					<button class="btn btn-sm" data-th-text="#{button.text.cancel}" />
				</form>
			</div>
		</div>
	</div>
</dialog>