<!--/*-->
	전달받은 fieldList로 입력 폼을 생성한다.
	원본 값은 '__org__' prefix를 붙인 값으로 전달한다.
<!--*/-->

<dialog id="modal" class="modal"
	data-th-with="
		thymeleafUtil = ${T(net.luversof.web.dynamiccrud.thymeleaf.util.ThymeleafUtil)},
		dbFieldList = ${thymeleafUtil.getDbFieldList()},
		map = ${T(java.util.Map)},
		dbFieldColumnType = ${T(net.luversof.web.dynamiccrud.setting.domain.DbFieldColumnType)}
	">
	<div class="modal-box max-w-xl">
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		</form>
		<h3 class="font-bold text-lg" data-th-text="#{use.text.modalForm.__${modalMode}__}" />
		<div class="m-2">
			<form id="modalForm"
				data-th-hx-post="@{${thymeleafUtil.getUrl('FRAGMENT_MODAL_FORM',map.of('modalMode',modalMode))}}"
				hx-target="#fragmentArea"
			>
				<th-block data-th-each="dbField : ${dbFieldList}">
					
					
						<!--/*-->
						편집 가능한 경우 form 화면 처리
						아닌 경우 hidden input으로 처리하여 값을 전달
						<!--*/-->
						<div class="flex flex-wrap"
							data-th-if="${dbField.isEnableEdit(modalMode)}"
							data-th-data-columnGroupId="${dbField.columnGroupId}"
						>
							<label class="form-control grow"
								data-th-classappend="${dbField.columnType == dbFieldColumnType.BOOLEAN ? 'basis-1/5' : 'basis-1/3'}"
							>
								<div class="label pb-1">
									<span class="label-text"
										data-th-text="${dbField.columnName}"
										data-th-classappend="${dbField.isEnableEditRequired(modalMode) ? 'required' : ''}"
									>
									</span>
									<span class="label-text-alt cursor-pointer tooltip" 
										data-th-if="${!#strings.isEmpty(dbField.formHelpText)}" 
										data-th-data-tip="${dbField.formHelpText}"
									>
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
											<path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
										</svg>
									</span>
								</div>
								
								<!--/*-->
								preset이 있는 경우 preset 기준 select를 구성
								없으면 그 다음 분기를 고려
								<!--*/-->
								
								<div class="join">
									<th-block data-th-replace="~{use/_components/dbField (dbField = ${dbField})}"  />
								</div>
								
							</label>
						</div>
						<th-block data-th-unless="${dbField.isEnableEdit(modalMode)}">
							<input type="hidden" data-th-name="${dbField.columnId}" />
						</th-block>
					
				</th-block>
				
				<input type="hidden"
					data-th-each="dbField : ${dbFieldList}"
					data-th-if="${dbField.isEnableEdit(modalMode)}"
					data-th-name="'\_\_org\_\_' + ${dbField.columnId}"
					data-th-value="${dbField.columnDefaultValue}"
				/>
			</form>
		</div>

		<div class="flex justify-between">

			<div>
				<button class="btn btn-sm copySearchButton" data-th-text="#{button.text.copySearchArea}"></button>
				<button class="btn btn-sm copyDataButton" data-th-text="#{button.text.copyData}"></button>
			</div>

			<div class="flex justify-between">
				<button class="btn btn-info btn-sm mr-1" data-th-text="#{button.text.__${modalMode}__}" form="modalForm" />
				<form method="dialog">
					<!-- if there is a button in form, it will close the modal -->
					<button class="btn btn-sm" data-th-text="#{button.text.cancel}" />
				</form>
			</div>
		</div>
	</div>
</dialog>