<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/bookkeeping/bookkeepingLayout">
<head>
	<script type="text/javascript" th:src="@{/js/bookkeeping/entryGroup/model.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/entryGroup/collection.js}"></script>
	<script type="text/javascript" th:src="@{/js/bookkeeping/entryGroup/view.js}"></script>
</head>
<body>
	<div layout:fragment="content-bookkeeping">
		<br />
		<div id="entryGroupArea"></div>

		<script type="text/template" id="template-entryGroup-collection-view">
			<div class="col-md-6">
				<table class="table table-hover">
					<colgroup>
						<col class="col-md-3"></col>
						<col class="col-md-6"></col>
						<col class="col-md-3"></col>
					</colgroup>
					<thead>
						<tr>
							<th>
								<button type="button" class="btn btn-default {{#isSortColumnEntryType}}btn-info{{/isSortColumnEntryType}}" data-menu-sortColumn="entryType" data-menu-sortDirection="{{#isSortColumnEntryType}}{{sortDirection}}{{/isSortColumnEntryType}}">
									타입
									{{#isSortColumnEntryType}}
										<i class="fa fa-sort-{{sortDirection}}" aria-hidden="true"></i>
									{{/isSortColumnEntryType}}
								</button>
							</th>
							<th>
								<button type="button" class="btn btn-default {{#isSortColumnName}}btn-info{{/isSortColumnName}}" data-menu-sortColumn="name" data-menu-sortDirection="{{#isSortColumnName}}{{sortDirection}}{{/isSortColumnName}}">
									이름
									{{#isSortColumnName}}
										<i class="fa fa-sort-{{sortDirection}}" aria-hidden="true"></i>
									{{/isSortColumnName}}
								</button>
							</th>
							<th></th>
						</tr>
						<tr class="active">
							<td>
								<select class="form-control" name="createEntryType">
									<option th:each="entryType : ${T(net.luversof.bookkeeping.domain.EntryType).values()}" th:value="${entryType}" th:text="#{entryType.text.__${entryType}__}">entryType</option>
								</select>
							</td>
							<td contenteditable="true" data-key-name="createEntryGroupName" placeholder="추가할 기입그룹의 이름을 입력하세요"></td>
							<td><button class="btn btn-default btn-sm" data-menu="createEntryGroup"><span class="glyphicon glyphicon-plus">추가</span></button></td>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
		</script>
		<script type="text/template" id="template-entryGroup-view">
			<td>
				<select class="form-control" name="entryType" disabled="disabled">
					<option th:each="entryType : ${T(net.luversof.bookkeeping.domain.EntryType).values()}" th:value="${entryType}" th:text="#{entryType.text.__${entryType}__}">entryType</option>
				</select>
			</td>
			<td contenteditable="true" data-key-name="name">{{name}}</td>
			<td>
				<button class="btn btn-default btn-sm" data-menu="updateEntryGroup"><span class="glyphicon glyphicon-edit">수정</span></button>
				<button class="btn btn-default btn-sm" data-menu="deleteEntryGroup"><span class="glyphicon glyphicon-remove">삭제</span></button>
			</td>
		</script>
	</div>
</body>
</html>