<!DOCTYPE html>
<html data-layout-decorate="~{board/_layout/boardLayout}">

<head>
	  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
	  
	  <script>
		function listQuery() {
			return {
				"boardAlias" : "free"
			}
		}
		var boardAlias = "free";
		var page = 1;
		
		function getPage() {
			return page - 1;
		}
	  </script>
</head>

<body>
	<div data-layout-fragment="contentBoard">
		<button class="navbutton">테스트 버튼</button>
		
		<!-- 
		[[${board}]]
		-->
		<div class="overflow-x-auto"
			id="boardList"
			hx-get="/mustache/board/boardArticlePage" 
			hx-headers='{"Accept" : "text/mustache" }'
			hx-trigger="load, click from:body source:.navbutton"
			hx-trigger234="load"
			hx-vals='js:{ boardAlias : boardAlias, page : getPage() }'
		>
			
			<div class="skeleton w-auto h-64 grid justify-items-center items-center">
			</div>
		</div>

	</div>
</body>

</html>