<!DOCTYPE html>
<html data-layout-decorate="~{board/_layout/boardLayout}">

<head>
	<script data-th-inline="javascript">
		/*<![CDATA[*/
		var boardAlias = /*[[${boardAlias}]]*/ 'boardAlias';
		/*]]>*/
	</script>
</head>

<body>
	<div data-layout-fragment="content-board">
		<div id="boardList"
			hx-get="/board/fragment/boardArticlePage"
			hx-trigger="load delay:0s, boardArticlePageTrigger"
			hx-swap="transition:true"
			hx-indicator="#indicator"
			hx-vals="js:{
				'boardAlias' : boardAlias,
				'page' : param.getRequestPage()
			}">
		</div>
		<span id="indicator" class="text-center my-10 htmx-request htmx-indicator">
			<span class="loading loading-ring loading-lg"></span>
		</span>
	</div>
</body>

</html>