<!DOCTYPE html>
<html data-layout-decorate="~{_components/layout/boardLayout}">

<head>
	<!--<script src="https://unpkg.com/@toast-ui/editor/dist/toastui-editor"></script>-->
	
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

	<script data-th-inline="javascript">
		/*<![CDATA[*/
		var boardAlias = /*[[${boardAlias}]]*/ 'boardAlias';
		/*]]>*/
		
		document.addEventListener("DOMContentLoaded", () => {
			//boardList.addEventListener();
			
			const easymde = new EasyMDE({
				element: document.getElementById('editor'),
			});
		});
	</script>
</head>

<body>
	<div data-layout-fragment="content-board" class="prose">
		<h1>글쓰기</h1>
		<input type="text" placeholder="Type here" class="input w-full" />
		<textarea id="editor" class="textarea"></textarea>
		<div class="flex justify-between items-center">
			<div>
				
			</div>
			<div>
				<button class="btn btn-sm writeButton" data-th-text="#{board.button.write}"></button>
				<button class="btn btn-sm cancelButton" data-th-text="#{board.button.cancel}"></button>
			</div>
		</div>
	</div>
</body>

</html>