<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<head>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-handsontable/0.10.2/jquery.handsontable.full.min.js"></script>
	<link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/jquery-handsontable/0.10.2/jquery.handsontable.full.css" />
	<script type="text/javascript" th:src="@{/js/bluesky_bookkeeping_base.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
		      	<div class="col-sm-2">
					<ul class="nav nav-pills nav-stacked" layout:fragment="nav-bookkeeping"
						th:with="path = ${#httpServletRequest.servletPath},
							menu = ${#strings.startsWith(path, '/bookkeeping/entry') ? 'entry' : 'bookkeeping'},
							menu = ${#strings.startsWith(path, '/bookkeeping/entrySummary') ? 'entrySummary' : menu},
							menu = ${#strings.startsWith(path, '/bookkeeping/entryGroup') ? 'entryGroup' : menu},
							menu = ${#strings.startsWith(path, '/bookkeeping/asset') ? 'asset' : menu}">
						<li th:class="${menu} == 'entry' ? active"><a th:href="@{/bookkeeping/entry}">가계부 입력</a></li>
						<li th:class="${menu} == 'entrySummary' ? active"><a th:href="@{/bookkeeping/entrySummary}">가계부 보기</a></li>
						<li th:class="${menu} == 'status' ? active"><a href="">통계 보기</a></li>
						<li th:class="${menu} == 'asset' ? active"><a th:href="@{/bookkeeping/asset}">자산 관리</a></li>
						<li th:class="${menu} == 'entryGroup' ? active"><a th:href="@{/bookkeeping/entryGroup}">분류 관리</a></li>
						<li th:class="${menu} == 'bookkeeping' ? active"><a th:href="@{/bookkeeping}">가계부 관리</a></li>
					</ul>
				</div>
				<div class="col-sm-10">
					<div layout:fragment="content-bookkeeping" ></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>