<!DOCTYPE html>
<html data-layout-decorate="~{_layout/defaultLayout}">

<head>

</head>

<body>
	<div data-layout-fragment="content">

		<div class="prose max-w-none">
			<h1>BE 개발 관련 dom attribute 설정 정보</h1>
			tailwindcss나 daisyui의 class 명명 규칙과 별개로 사용하기 위한 값들에 대한 목록
			<ul>
				<li>검색 영역 관련
					<ul>
						<li><b>#searchArea</b> : 검색 영역 지정</li>
						<li><b>.searchinput</b> : 검색 영역의 검색 input 지정</li>
						<li><b>.resetbutton</b> : 검색의 reset 버튼</li>
					</ul>
				</li>
				<li>contentTable 관련
					<ul>
						<li><b>#content</b> : content 영역 지정</li>
						<li><b>#contentTable</b> : content를 보여주는 테이블 지정</li>
						<li><b>.contentData</b> : list 목록의 input hidden 정보를 담고 있는 영역 지정</li>
						<li><b>.contentDataCheck</b> : list 목록의 checkbox 영역 지정</li>
						<li><b>[name=contentDataCheck]</b> : contentTable의 content 목록의 checkBox</li>
						<li><b>.deleteButton</b> : 삭제 버튼</li>
					</ul>
				</li>
				<li>
					modal 관련
					<ul>
						<li>
							공통 설정
							<ul>
								<li><b>#fragmentArea</b> : fragment 호출 영역 (에러 발생시 에러를 표시되는 영역이기도 함)</li>
								<li><b>#modal</b> : modal의 id (현재까지 modal이 1종이라 별다른 이름을 만들지 않음)</li>
							</ul>
						</li>
						<li>
							form modal 관련 (기본적인 CRUD modal)
							<ul>
								<li>
									css selector
									<ul>
										<li><b>#modalForm</b> : modal의 form id. modal내 submit button의 대상 지정을 위해 사용</li>
										<li><b>.copyDataButton</b> : modal의 데이터 복사 버튼 (바닥 페이지의 선택한 데이터를 form으로 복사)</li>
										<li><b>.copySearchButton</b> : modal의 검색 복사 버튼</li>
									</ul>
								</li>
								<li>
									HX-Trigger (요청 응답 이후 htmx trigger 처리를 위한 설정)
									<ul>
										<li><b>showList</b> : 페이지 호출 뷰 응답</li>
										<li><b>showCreateModalForm</b> : 생성 모달 뷰 응답</li>
										<li><b>showUpdateModalForm</b> : 수정 모달 뷰 응답</li>
										<li><b>createModalForm</b> : 생성 요청 응답</li>
										<li><b>updateModalForm</b> : 수정 요청 응답</li>
										<li><b>deleteModalForm</b> : 삭제 요청 응답</li>
										<li><b>closeModalForm</b> : 모달을 닫아야 하는 응답의 경우 이 값이 같이 호출됨</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							bulk form modal 관련 (import export)
							<ul>
								<li>
									css selector
									<ul>
										<li><b>#modalBulkForm</b> : modal의 form id. modal내 submit buuton의 대상 지정을 위해 사용</li>
										<li><b>.copyDataButton</b> : modal의 데이터 복사 버튼(bulkform textarea의 데이터를 clipboard로 복사하는 역할)</li>
									</ul>
								</li>
								<li>
									HX-Trigger (요청 응답 이후 htmx trigger 처리를 위한 설정)
									<ul>
										<li><b>showImportModalBulkForm</b></li>
										<li><b>showExportModalBulkForm</b></li>
										<li><b>importModalBulkForm</b></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
					
				</li>
				
			</ul>
			
			<h1>UI Components</h1>
			<h2>Modal Form</h2>
			<div class="modal-box max-w-xl">
				<div class="join w-full m-1" >
					<div class="btn btn-sm join-item w-1/3">Text 테스트</div>
					<input type="text" class="input input-sm input-bordered join-item w-full"
						 name="inputtext"
						 required="true"
						 placeholder="label대신 버튼으로 표현했음.."
					/>
				</div>
				<div class="flex w-full m-1">
					<div class="w-1/3 text-center self-center bg-base-300">input 테스트2</div>						
					<input type="text" class="input input-sm input-bordered w-full" placeholder="버튼 방식이 나은듯?"/>
				</div>
				<div class="join w-full m-1">
					<div class="btn btn-sm join-item w-1/3" >toggle 테스트</div>						
					<input type="checkbox" class="toggle toggle-lg toggle-info join-item" name="토글" />
				</div>
				<div class="join w-full m-1">
					<div class="btn btn-sm join-item w-1/3" >toggle 테스트2</div>						
					<input type="checkbox" class="toggle toggle-lg toggle-info ml-2" name="토글" />
					오른쪽 여백이 뭔가 허전한데..
				</div>
				<div class="join w-full m-1">
					<div class="btn btn-sm join-item w-1/3" >radio 테스트</div>						
					<input class="btn btn-sm join-item" type="radio" name="라디오" aria-label="비활성" value="-1" />
  					<input class="btn btn-sm join-item" type="radio" name="라디오" aria-label="활성" value="1" /> 요것도 별로?
				</div>
				<div class="join w-full m-1">
					<div class="btn btn-sm join-item w-1/3" >radio 테스트</div>						
					<input class="btn btn-sm " type="radio" name="라디오" aria-label="비활성" value="-1" />
  					<input class="btn btn-sm join-item" type="radio" name="라디오" aria-label="활성" value="1" /> 요것도 별로?
				</div>
				<div class="join w-full m-1">
					<div class="btn btn-sm join-item w-1/3" >select 테스트</div>						
					<select class="select select-sm select-bordered join-item w-full">
						<option />
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
				</div>
				<div class="join w-full m-1" >
					<div class="btn btn-sm join-item w-1/3 min-h-full">TextArea 테스트</div>
					<textarea class="textarea textarea-sm textarea-bordered join-item w-full"
						 name="testname"
						 required="true"
						 placeholder="textArea는 어떻게 설정하나"
					></textarea>
				</div>
			</div>
		</div>
	</div>

	<div data-th-insert="~{_layout/defaultLayout :: copy}"></div>
</body>

</html>