<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<div layout:fragment="content">
	<link th:href="@{/resources/wysihtml5/css/stylesheet.css}" rel="stylesheet" />
	<script type="text/javascript">
		$(document).ready(function() {
			blogPost.displayContext();
		});
	</script>
	<div class="page-header">
		<h1>BlogPost <small>listView</small></h1>
	</div>
	<article th:if="${pageImpl.hasContent()}" th:each="blogPost : ${pageImpl.getContent()}">
		<h1 th:text="${blogPost.title}">title</h1>
		<p>published <time pubdate="pubdate" th:text="${#dates.format(blogPost.createdDate, 'yyyy-MM-dd HH:mm:ss')}">createdDate</time></p>
		<div class="panel panel-default">
			<div class="panel-body" th:attr="data-blogPost-content=${blogPost.content}">content</div>
		</div>
		<!-- 
		<a th:href="@{'/blogPost/' + ${blogPost.id} + '/modify'}" class="btn btn-primary" th:text="#{blogPost.menu.modify}">modify</a>
		<button class="btn btn-warning delete" type="button" th:text="#{blogPost.menu.delete}">delete</button>
		<a th:href="@{list}" class="btn btn-default" th:text="#{blogPost.menu.list}">list</a>
		 -->
		 <hr />
	</article>
</div>
</html>