<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<link th:href="@{/resources/wysihtml5/css/stylesheet.css}" rel="stylesheet" />
		<script type="text/javascript" th:src="@{/js/gist-embed.min.js}" defer="defer"></script>
		<script type="text/javascript" th:inline="text">
			$(document).ready(function() {
				var blogPostId = "[[${blogPost.id}]]";
				//var blogPostContent = "[[${#strings.escapeJavaScript(blogPost.content)}]]";
				//console.log("2" + blogPostContent);
				//$("p:contains('content')").html(blogPostContent);
				$("button.btn.delete").on("click", function() {
					blogPost.remove(blogPostId);
				});
				blogPost.displayContext();
			});
		</script>
		<div class="page-header">
			<h1>BlogPost <small th:text="#{blogPost.menu.view}">view</small></h1>
		</div>
		<article>
			<h1 th:text="${blogPost.blogCategory} ? #{blogPost.message.title(${blogPost.title}, ${blogPost.blogCategory.title})} : ${blogPost.title}">title</h1>
			<p><time pubdate="pubdate" th:text="${#dates.format(blogPost.createdDate, 'yyyy-MM-dd HH:mm:ss')}">createdDate</time></p>
			<div class="panel panel-default">
				<div class="panel-body" th:attr="data-blogPost-content=${blogPost.content}">content</div>
			</div>
			<a href="write" sec:authorize="isAuthenticated()" class="btn btn-primary" th:text="#{blogPost.menu.write}">write</a>
			<a th:if="${#authentication.name == blogPost.username}" th:href="@{'/blogPost/' + ${blogPost.id} + '/modify'}" class="btn btn-primary" th:text="#{blogPost.menu.modify}">modify</a>
			<a th:if="${#authentication.name == blogPost.username}" class="btn btn-warning delete" th:text="#{blogPost.menu.delete}">delete</a>
			<a th:href="@{list}" class="btn btn-default" th:text="#{blogPost.menu.list}">list</a>
		</article>
		
		<hr />
		
		<div id="fb-root"></div>
		<script type="text/javascript">(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&amp;appId=124755777691522";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="panel panel-default">
			<div class="fb-comments panel-body" th:attr="data-href='http://luversof.cafe24.com/blogPost/' + ${blogPost.id}" data-width="1000px"></div>
		</div>
		<!-- facebook 댓글은 나중에 고민하자, width 가변 문제 해결 필요
		 -->
	</div>
</body>
</html>