<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<script type="text/javascript" th:inline="text">
			$(document).ready(function() {
				var blogPostId = "[[${blogPost.id}]]";
				$("button.btn.delete").on("click", function() {
					blogPost.remove(blogPostId);
				});
			});

		</script>
		<h1 th:text="${blogPost.title}">title</h1>
		<p th:text="${blogPost.content}">content</p>
		<a th:href="@{'/blogPost/' + ${blogPost.id} + '/modify'}"><button class="btn" type="button" th:text="#{blogPost.menu.modify}">modify</button></a>
		<button class="btn delete" type="button" th:text="#{blogPost.menu.delete}">delete</button>
		<a th:href="@{list}"><button class="btn" type="button" th:text="#{blogPost.menu.list}">list</button></a>
	</div>
</body>
</html>