<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<script type="text/javascript">
			$(document).ready(function() {
				$("button.btn.cancel").on("click", function() {
					history.back();
				});
			});
		</script>
		<form class="form-horizontal" action="./" method="post">
		
			<h2 th:text="#{blogPost.menu.write}">write</h2>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="title" th:text="#{blogPost.text.title}">title</label>
				<div class="col-lg-6">
					<input class="form-control" type="text" name="title" id="title" th:placeholder="#{blogPost.text.title}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="content" th:text="#{blogPost.text.content}">content</label>
				<div class="col-lg-6">
					<textarea class="form-control" rows="3" name="content" id="content" th:placeholder="#{blogPost.text.content}"></textarea>
					<br />
					<button class="btn btn-primary" type="submit" th:text="#{blogPost.menu.save}">save</button>
					<button class="btn btn-default cancel" type="button" th:text="#{blogPost.menu.cancel}">cancel</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>