<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<div layout:fragment="content">

	<div class="col-md-12">
		<h2>가계부를 생성하세요.</h2>
	
		<form th:action="@{/bookkeeping}" method="post" class="form-inline">
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="생성"/>
			</div>
		</form>
		
	</div>
	&nbsp;
</div>
</html>