<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="bookkeeping/bookkeepingLayout">
<head>
	<!-- (s) jqueryui -->
	<script type="text/javascript" th:src="${@environment.getProperty('url.jquery-ui.js')}"></script>
	<link rel="stylesheet" th:href="${@environment.getProperty('url.jquery-ui.css')}" />
	<!-- (e) jqueryui -->
	<script type="text/javascript" th:src="@{/js/bluesky_bookkeeping_entrySummary.js}"></script>
</head>
<body>
	<div layout:fragment="content-bookkeeping">
		<div th:if="${T(net.luversof.core.Constants).JSON_MODEL_KEY != null}" class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">가계부 보기 <span class="glyphicon glyphicon-refresh bookkeeping-entry-load"></span></h3>
			</div>
			<div class="panel-body">
				<p>
					<a href="entry" class="btn btn-primary">가계부 입력</a> 
				</p>
				<div class="bookkeeping-entry-list"></div>
			</div>
		</div>
	</div>
</body>
</html>