<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="/layout/defaultLayout">
<div layout:fragment="content">
	<div class="page-header">
		<h1>Blog <small th:text="#{blog.menu.list}">list</small></h1>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th class="col-md-1" th:text="#{blog.text.id}">id</th>
				<th th:text="#{blog.text.category}">category</th>
				<th th:text="#{blog.text.title}">title</th>
				<th class="col-md-2" th:text="#{blog.text.username}">username</th>
				<th class="col-md-2" th:text="#{blog.text.createdDate}">createdDate</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${pageImpl.hasContent()}" th:each="blog : ${pageImpl.getContent()}">
				<td th:text="${blog.id}">id</td>
				<td th:text="${blog.blogCategory} ? ${blog.blogCategory.name}">category</td>
				<td><a th:href="@{'/blog/' + ${blog.id}}" th:text="${blog.title}">title</a></td>
				<td th:text="${blog.username}">username</td>
				<td th:text="${#dates.format(blog.createdDate, 'yyyy-MM-dd')}">createdDate</td>
			</tr>
			<tr th:if="${!pageImpl.hasContent()}" class="text-center">
				<td colspan="5" th:text="#{blog.message.empty.content}">blog.message.empty.content</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<ul class="pagination" th:if="${pageImpl.totalPages} > 0">
						<li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:class="${i == currentPage} ? 'active'"><a th:href="@{/blog(page=${i})}" th:text="${i}">?</a></li>
					</ul>
					<br />
					<a th:href="@{'/blog/write'}" sec:authorize="isAuthenticated()" class="btn btn-primary" th:text="#{blog.menu.write}">write</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
</html>