<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<link th:href="@{/resources/wysihtml5/css/stylesheet.css}" rel="stylesheet" />
		<script type="text/javascript" th:src="@{/js/gist-embed.min.js}" defer="defer"></script>
		<script type="text/javascript" th:inline="text">
			$(document).ready(function() {
				var blogId = "[[${blog.id}]]";
				//var blogContent = "[[${#strings.escapeJavaScript(blog.content)}]]";
				//console.log("2" + blogContent);
				//$("p:contains('content')").html(blogContent);
				$("article .btn.delete").on("click", function() {
					console.log("button.btn.delete click");
					blog.remove(blogId);
				});
				blog.displayContext();
			});
		</script>
		<div class="page-header">
			<h1>Blog <small th:text="#{blog.menu.view}">view</small></h1>
		</div>
		<article>
			<h2 th:text="${blog.blogCategory} ? #{blog.message.title(${blog.title}, ${blog.blogCategory.name})} : ${blog.title}">title</h2>
			<p><time pubdate="pubdate" th:text="${#dates.format(blog.createdDate, 'yyyy-MM-dd HH:mm:ss')}">createdDate</time></p>
			<div class="panel panel-default">
				<div class="panel-body" th:attr="data-blog-content=${blog.content}">content</div>
			</div>
			<div class="text-center">
				<a href="write" sec:authorize="isAuthenticated()" class="btn btn-primary" th:text="#{blog.menu.write}">write</a>
				<a th:if="${#authentication.name == blog.username}" th:href="@{'/blog/' + ${blog.id} + '/modify'}" class="btn btn-primary" th:text="#{blog.menu.modify}">modify</a>
				<a th:if="${#authentication.name == blog.username}" class="btn btn-warning delete" th:text="#{blog.menu.delete}">delete</a>
				<a th:href="@{'/blog'}" class="btn btn-default" th:text="#{blog.menu.list}">list</a>
			</div>
		</article>
		
		<hr />
		
		<div id="fb-root"></div>
		<script type="text/javascript">(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&amp;appId=124755777691522";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="panel panel-default text-center">
			<div class="fb-comments panel-body" th:attr="data-href='http://luversof.cafe24.com/blog/' + ${blog.id}" ></div>
		</div>
		<!-- facebook 댓글은 나중에 고민하자, width 가변 문제 해결 필요
		 -->
	</div>
</body>
</html>