<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="/layout/defaultLayout">
<head>
	<script type="text/javascript" th:src="@{/js/bluesky_data_rest.js}"></script>
	<script type="text/javascript" th:src="@{/js/mustache.js}"></script>
	<script type="text/javascript" th:src="@{/js/bluesky_bookkeeping_entryGroup.js}"></script>
</head>
<body>
<div layout:fragment="content">

	<div class="page-header">
		<h1>EntryGroup <small th:text="#{entryGroup.menu.list}">list</small></h1>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-lg-1" th:text="#{entryGroup.text.name}">name</th>
				<th class="col-lg-1" th:text="#{entryGroup.text.entryType}">entryType</th>
				<th class="col-lg-1 entryGroup-menu-add"><span class="glyphicon glyphicon-plus"></span> <span th:text="#{entryGroup.menu.add}">add</span></th>
			</tr>
		</thead>
		<tbody>
			<!-- 
			<tr th:if="${!#lists.isEmpty(entryGroupList)}" th:each="entryGroup : ${entryGroupList}">
				<td th:text="${entryGroup.name}" contenteditable="true">name</td>
				<td th:text="${entryGroup.entryType}">entryType</td>
				<td></td>
			</tr>
			 -->
			<tr th:if="${#lists.isEmpty(entryGroupList)}" class="text-center">
				<td colspan="3" th:text="#{entryGroup.message.empty.content}">entryGroup.message.empty.content</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" class="text-center">
					<button sec:authorize="isAuthenticated()" class="btn btn-primary entryGroup-menu-add" th:text="#{entryGroup.menu.add}">add</button>
				</td>
			</tr>
		</tfoot>
	</table>
	
	<script type="text/template" id="entryGroup-template">
	<tr>
		<td contenteditable="true">{{name}}</td>
		<td contenteditable="true">{{entryType}}</td>
		<td></td>
	</tr>
	</script>
	
	<!-- (s) entryGroup add modal -->
	<div class="modal fade entryGroup-add-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" >&times;</button>
					<h4 class="modal-title">EntryGroup <small th:text="#{entryGroup.menu.add}">add</small></h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="name" class="col-lg-2 control-label" th:text="#{entryGroup.text.name}">name</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="name" th:placeholder="#{entryGroup.text.name}" />
							</div>
						</div>
						<div class="form-group">
							<label for="entryType" class="col-lg-2 control-label" th:text="#{entryGroup.text.entryType}">entryType</label>
							<div class="col-lg-10">
								<select class="form-control" id="entryType">
									<option th:each="entryType : ${T(net.luversof.bookkeeping.domain.EntryType).values()}" th:value="${entryType.name()}" th:text="#{${entryType.name().toLowerCase()}}">1</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{close}">close</button>
					<button type="button" class="btn btn-primary entryGroup-add" th:text="#{entryGroup.menu.add}">add</button>
				</div>
			</div>
		</div>
	</div>
	<!-- (e) entryGroup add modal -->
</div>
</body>
</html>