* {
	font-family: 'Verdana', '맑은 고딕';
}

body {
	padding-top: 50px;
}

.navbar {
	opacity : 0.95;
}

code[data-gist-id] {
	background-color: #ffffff;
}

.fb-comments, .fb-comments * {width:100% !important;}