* {
	font-family: 'Verdana', '맑은 고딕', 'Arial';
}

body {
	padding-top: 50px;
}

/* .navbar {
	opacity: 0.95;
}

code[data-gist-id] {
	background-color: #ffffff;
}

.fb-comments, .fb-comments * {
	width: 100% !important;
}

[contenteditable=true]:empty:not(:focus):before {
	content: attr(placeholder);
	display: block; For Firefox
	font-size: 0.8em;
	opacity: .65;
} */
.blog-view article h2 {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

.blog-view article>p>time {
	margin-bottom: 1.25rem;
	color: #999;
}

.blog-view article>div {
	margin-top: 0;
	margin-bottom: 1rem;
}