
/* 아이템 속성 별 색상 처리 */
.d3-border-color-gray { border-color: #56402c; }
.d3-border-color-white { border-color: #56402c; }
.d3-border-color-yellow { border-color: #b1a73c; }
.d3-border-color-orange { border-color: #c29337; }
.d3-border-color-green { border-color: #87a73d; }
.d3-border-color-blue { border-color: #6ba9ba; }


.d3-color-gray { color: #c1c1c1 !important; }
.d3-color-yellow { color: #ffff00 !important; }
.d3-color-orange { color: #fba412 !important; }
.d3-color-green { color: #a4df44 !important; }
.d3-color-blue { color: #a0c3ff !important; }


.d3-color-hardcore { color: #e60101 !important; }

.small-seasonal-leaf {
    display: inline-block;
    width: 15px;
    height: 21px;
    background: url("/img/battleNet/d3/seasonal-leaf.png") -24px -2px no-repeat;
}
