<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>

<script src="/js/study/angularjs/test5/app.js"></script>
<script src="/js/study/angularjs/test5/controllers.js"></script>
<script src="/js/study/angularjs/test5/filters.js"></script>
</head>
<body>
<!-- https://docs.angularjs.org/tutorial/step_10 -->
<!-- 이벤트 핸들러를 통한 유저 액션 처리 기능 추가 -->
<div ng-view=""></div>

</body>
</html>
