<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
<link rel="stylesheet" th:href="#{url.bootstrap.css}" />
<link rel="stylesheet" href="/css/study/angularjs/test7/app.css" />
<link rel="stylesheet" href="/css/study/angularjs/test7/animations.css" />

<script th:src="#{url.jquery.js}"></script>
<script th:src="#{url.angular.js}"></script>
<script th:src="#{url.angular-route.js}"></script>
<script th:src="#{url.angular-resource.js}"></script>
<script th:src="#{url.angular-animate.js}"></script>

<script src="/js/study/angularjs/test7/app.js"></script>
<script src="/js/study/angularjs/test7/controllers.js"></script>
<script src="/js/study/angularjs/test7/filters.js"></script>
<script src="/js/study/angularjs/test7/services.js"></script>
<script src="/js/study/angularjs/test7/animations.js"></script>
</head>
<body>
<!-- https://docs.angularjs.org/tutorial/step_12 -->
<!-- 페이지 전환에 애니메이션 기능 추가 -->
<div class="view-container">
	<div ng-view="" class="view-frame"></div>
</div>
</body>
</html>
