<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.min.js"></script>

<script src="/js/study/angularjs/test6/app.js"></script>
<script src="/js/study/angularjs/test6/controllers.js"></script>
<script src="/js/study/angularjs/test6/filters.js"></script>
<script src="/js/study/angularjs/test6/services.js"></script>
</head>
<body>
<!-- https://docs.angularjs.org/tutorial/step_11 -->
<!-- ngResource를 통한 서비스 구현 -->
<div ng-view=""></div>

</body>
</html>
