<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
<script th:src="#{url.angular.js}"></script>
<script th:src="#{url.angular-route.js}"></script>

<script src="/js/study/angularjs/test4/app.js"></script>
<script src="/js/study/angularjs/test4/controllers.js"></script>
<script src="/js/study/angularjs/test4/filters.js"></script>
</head>
<body>
<!-- https://docs.angularjs.org/tutorial/step_09 -->
<!-- 필터를 통한 화면 출력 처리 기능 (통화, 시간, 커스터마이징 등 구현기능) -->
<div ng-view=""></div>

</body>
</html>
