<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>

<script src="/js/study/angularjs/test3/app.js"></script>
<script src="/js/study/angularjs/test3/controllers.js"></script>
</head>
<body>
<!-- https://docs.angularjs.org/tutorial/step_08 -->
<!-- detail 호출시에도 템플릿 호출 처리 -->
<div ng-view=""></div>

</body>
</html>
