<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="net.luversof" level="debug" />
	<logger name="jdbc" level="debug" />
	<!-- <logger name="org.springframework" level="debug" /> -->
	<logger name="org.springframework.boot.autoconfigure" level="debug" />
</configuration>