<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
	<script th:src="@{/js/bluesky_blog.js}"></script>
	<link th:href="@{/resources/wysihtml5/css/stylesheet.css}" rel="stylesheet" />
</head>
<div layout:fragment="content">
	<script type="text/javascript">
		$(document).ready(function() {
			blog.displayContext();
		});
	</script>
	<div class="page-header">
		<h1>Blog <small>listView</small></h1>
	</div>
	<article th:if="${pageImpl.hasContent()}" th:each="blog : ${pageImpl.getContent()}">
		<h1 th:text="${blog.title}">title</h1>
		<p>published <time pubdate="pubdate" th:text="${#dates.format(blog.createdDate, 'yyyy-MM-dd HH:mm:ss')}">createdDate</time></p>
		<div class="panel panel-default">
			<div class="panel-body" th:attr="data-blog-content=${blog.content}">content</div>
		</div>
		<!-- 
		<a th:href="@{'/blog/' + ${blog.id} + '/modify'}" class="btn btn-primary" th:text="#{blog.menu.modify}">modify</a>
		<button class="btn btn-warning delete" type="button" th:text="#{blog.menu.delete}">delete</button>
		<a th:href="@{list}" class="btn btn-default" th:text="#{blog.menu.list}">list</a>
		 -->
		 <hr />
	</article>
</div>
</html>