<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<div layout:fragment="content">

	<script type="text/javascript">
	</script>

	<div class="page-header">
		<h1>Asset <small th:text="#{asset.menu.list}">list</small></h1>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th th:text="#{asset.text.id}">id</th>
				<th th:text="#{asset.text.name}">name</th>
				<th th:text="#{asset.text.username}">username</th>
				<th th:text="#{asset.text.amount}">amount</th>
				<th th:text="#{asset.text.enable}">enable</th>
				<th th:text="#{asset.text.assetGroup.name}">assetGroup.name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${!#lists.isEmpty(assetList)}" th:each="asset : ${assetList}">
				<td th:text="${asset.id}">id</td>
				<td th:text="${asset.name}">name</td>
				<td th:text="${asset.username}">username</td>
				<td th:text="${asset.amount}">amount</td>
				<td th:text="${asset.enable}">enable</td>
				<td th:if="${asset.assetGroup != null}" th:text="${asset.assetGroup.name}">assetGroup.name</td>
				<td></td>
			</tr>
			<tr th:if="${#lists.isEmpty(assetList)}" class="text-center">
				<td colspan="7" th:text="#{asset.message.empty.content}">asset.message.empty.content</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center">
					<a th:href="@{'/asset/write'}" sec:authorize="isAuthenticated()" class="btn btn-primary" th:text="#{asset.menu.add}">add</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
</html>