<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<head>
	<script layout:fragment="serviceScript" th:src="@{/js/bluesky_asset.js}"></script>
</head>
<body>
<div layout:fragment="content">

	<!-- 동적으로 데이터를 변경할 수 있는 기능 제공 -->
	<script type="text/javascript" th:inline="text">
		$(document).ready(function() {
			asset.start("[[@{/}]]", [[${#authentication.principal.id}]]);
		});
	</script>
	<div class="page-header">
		<h1>Asset <small th:text="#{asset.menu.list}">list</small></h1>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-lg-1" th:text="#{asset.text.id}">id</th>
				<th class="col-lg-1" th:text="#{asset.text.name}">name</th>
				<th class="col-lg-1" th:text="#{asset.text.username}">username</th>
				<th th:text="#{asset.text.amount}">amount</th>
				<th class="col-lg-1" th:text="#{asset.text.enable}">enable</th>
				<th class="col-lg-1" th:text="#{asset.text.assetGroup.name}">assetGroup.name</th>
				<th class="col-lg-1"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="first tooltip"> </span>add</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${!#lists.isEmpty(assetList)}" th:each="asset : ${assetList}">
				<td th:text="${asset.id}">id</td>
				<td th:text="${asset.name}" contenteditable="true">name</td>
				<td th:text="${asset.username}">username</td>
				<td th:text="${asset.amount}" contenteditable="true">amount</td>
				<td th:text="${asset.enable}" contenteditable="true">enable</td>
				<td th:if="${asset.assetGroup != null}" th:text="${asset.assetGroup.name}">assetGroup.name</td>
				<td></td>
			</tr>
			<tr th:if="${#lists.isEmpty(assetList)}" class="text-center">
				<td colspan="7" th:text="#{asset.message.empty.content}">asset.message.empty.content</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center">
					<a th:href="@{'/asset/write'}" sec:authorize="isAuthenticated()" class="btn btn-primary" th:text="#{asset.menu.add}">add</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
</body>
</html>