<!DOCTYPE html>
<html
	data-th-with="thymeleafUtil = ${T(net.luversof.web.dynamiccrud.thymeleaf.util.ThymeleafUtil)}"
	data-th-data-theme="${thymeleafUtil.getRandomTheme('light','bumblebee','emerald','corporate','garden','lofi','pastel','fantasy','wireframe','cmyk','automn','acid','winter','nord')}" 
>

<head>
	<link data-th-href="@{/main.css}" rel="stylesheet" />
	<script src="https://unpkg.com/theme-change"></script>
</head>

<body>
	<div>

		<div data-th-replace="~{_components/navbar}"></div>

		<div id="fragmentArea"></div>
		
		<div data-layout-fragment="content" class="px-2">본문</div>
		
		<footer class="footer footer-center p-4 bg-base-100 text-base-content">
			<aside>
				<p>Copyright © 2023 - All right reserved by Bluesky</p>
			</aside>
		</footer>

	</div>
</body>

</html>