<!DOCTYPE html>
<html data-theme="winter">

<head>
	<link data-th-href="@{/main.css}" rel="stylesheet" />
	<script src="https://unpkg.com/theme-change"></script>
</head>

<body>
	<div class="container mx-auto">

		<div data-th-replace="~{_components/navbar}"></div>

		<div data-layout-fragment="content">본문</div>
		
		<div id="modalArea"></div>

		<footer class="footer footer-center p-4 bg-base-100 text-base-content">
			<aside>
				<p>Copyright © 2023 - All right reserved by Bluesky</p>
			</aside>
		</footer>

	</div>
</body>

</html>