<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">
<head>
	<script type="text/javascript" th:src="@{/js/bluesky_timeline.js}"></script>
</head>
<div layout:fragment="content">
	<script type="text/javascript">
	var timeline = Timeline();
	timeline.init();
	</script>
	<div class="page-header">
		<h1>Timeline <small th:text="#{timeline.menu.index}">index</small></h1>
	</div>
	<div class="timeline">timeilne area</div>
</div>
</html>