<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="/layout/defaultLayout">
<body>
	<div layout:fragment="content">
		<br />
		<div class="panel panel-danger">
			<div class="panel-heading" th:text="${result.get('message')}">Panel heading without title</div>
			<div class="panel-body" th:text="${result.get('class')}">Panel content</div>
		</div>
	</div>
</body>
</html>