<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="bluesky" />

<title>Bluesky Project</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/resources/bootstrap/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/resources/css/bluesky.css}" rel="stylesheet" />
<link layout:fragment="serviceCss" />

<!-- Custom styles for this template -->
<style type="text/css">
body {
	padding-top: 50px;
}

</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bluesky.js}"></script>
<script type="text/javascript" th:src="@{/js/bluesky_data_rest.js}"></script>
<script type="text/javascript" th:src="@{/js/underscore-min.js}"></script>
<script type="text/javascript" th:src="@{/js/backbone-min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/mustache.js}"></script>
<script layout:fragment="serviceScript"></script>
<script type="text/javascript" th:inline="text">
	$(document).ready(function() {
		navbar.contextPath = "[[@{/}]]";
		navbar.display();
	});
</script>
</head>
<body>
</body>
</html>