<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:substituteby="layout/defaultHead :: [//head]"></head>
<body>

	<div id="container" class="container-fluid">
		<div layout:fragment="main" class="row-fluid">한글이 깨졌었네?</div>

		<br />
		<hr />

		<footer id="footer">
			<div class="container-fluid">
				<p class="credit">
					by <a>bluesky</a>.
				</p>
			</div>
		</footer>
	</div>



</body>
</html>